/**
 * _trump.widths.scss
 */
.one-whole { width: 100%; }
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths { width: 50%; }
.one-third,
.two-sixths,
.three-ninths,
.four-twelfths { width: 33.3333333%; }
.two-thirds,
.four-sixths,
.six-ninths,
.eight-twelfths { width: 66.6666666%; }
.one-quarter,
.two-eighths,
.three-twelfths { width: 25%; }
.three-quarters,
.six-eighths,
.nine-twelfths { width: 75%; }
.one-fifth,
.two-tenths { width: 20%; }
.two-fifths,
.four-tenths { width: 40%; }
.three-fifths,
.six-tenths { width: 60%; }
.four-fifths,
.eight-tenths { width: 80%; }
.one-sixth,
.two-twelfths { width: 16.6666666%; }
.five-sixths,
.ten-twelfths { width: 83.3333333%; }
.one-eighth { width: 12.5%; }
.three-eighths { width: 37.5%; }
.five-eighths { width: 62.5%; }
.seven-eighths { width: 87.5%; }
.one-ninth { width: 11.1111111%; }
.two-ninths { width: 22.2222222%; }
.four-ninths { width: 44.4444444%; }
.five-ninths { width: 55.5555555%; }
.seven-ninths { width: 77.7777777%; }
.eight-ninths { width: 88.8888888%; }
.one-tenth { width: 10%; }
.three-tenths { width: 30%; }
.seven-tenths { width: 70%; }
.nine-tenths { width: 90%; }
.one-twelfth { width: 8.3333333%; }
.five-twelfths { width: 41.6666666%; }
.seven-twelfths { width: 58.3333333%; }
.eleven-twelfths { width: 91.6666666%; }
@include breakpoint(bp-one) {
  .bp-one--one-whole { width: 100%; }
  .bp-one--one-half,
  .bp-one--two-quarters,
  .bp-one--three-sixths,
  .bp-one--four-eighths,
  .bp-one--five-tenths,
  .bp-one--six-twelfths { width: 50%; }
  .bp-one--one-third,
  .bp-one--two-sixths,
  .bp-one--three-ninths,
  .bp-one--four-twelfths { width: 33.3333333%; }
  .bp-one--two-thirds,
  .bp-one--four-sixths,
  .bp-one--six-ninths,
  .bp-one--eight-twelfths { width: 66.6666666%; }
  .bp-one--one-quarter,
  .bp-one--two-eighths,
  .bp-one--three-twelfths { width: 25%; }
  .bp-one--three-quarters,
  .bp-one--six-eighths,
  .bp-one--nine-twelfths { width: 75%; }
  .bp-one--one-fifth,
  .bp-one--two-tenths { width: 20%; }
  .bp-one--two-fifths,
  .bp-one--four-tenths { width: 40%; }
  .bp-one--three-fifths,
  .bp-one--six-tenths { width: 60%; }
  .bp-one--four-fifths,
  .bp-one--eight-tenths { width: 80%; }
  .bp-one--one-sixth,
  .bp-one--two-twelfths { width: 16.6666666%; }
  .bp-one--five-sixths,
  .bp-one--ten-twelfths { width: 83.3333333%; }
  .bp-one--one-eighth { width: 12.5%; }
  .bp-one--three-eighths { width: 37.5%; }
  .bp-one--five-eighths { width: 62.5%; }
  .bp-one--seven-eighths { width: 87.5%; }
  .bp-one--one-ninth { width: 11.1111111%; }
  .bp-one--two-ninths { width: 22.2222222%; }
  .bp-one--four-ninths { width: 44.4444444%; }
  .bp-one--five-ninths { width: 55.5555555%; }
  .bp-one--seven-ninths { width: 77.7777777%; }
  .bp-one--eight-ninths { width: 88.8888888%; }
  .bp-one--one-tenth { width: 10%; }
  .bp-one--three-tenths { width: 30%; }
  .bp-one--seven-tenths { width: 70%; }
  .bp-one--nine-tenths { width: 90%; }
  .bp-one--one-twelfth { width: 8.3333333%; }
  .bp-one--five-twelfths { width: 41.6666666%; }
  .bp-one--seven-twelfths { width: 58.3333333%; }
  .bp-one--eleven-twelfths { width: 91.6666666%; }
}
@include breakpoint(bp-two) {
  .bp-two--one-whole { width: 100%; }
  .bp-two--one-half,
  .bp-two--two-quarters,
  .bp-two--three-sixths,
  .bp-two--four-eighths,
  .bp-two--five-tenths,
  .bp-two--six-twelfths { width: 50%; }
  .bp-two--one-third,
  .bp-two--two-sixths,
  .bp-two--three-ninths,
  .bp-two--four-twelfths { width: 33.3333333%; }
  .bp-two--two-thirds,
  .bp-two--four-sixths,
  .bp-two--six-ninths,
  .bp-two--eight-twelfths { width: 66.6666666%; }
  .bp-two--one-quarter,
  .bp-two--two-eighths,
  .bp-two--three-twelfths { width: 25%; }
  .bp-two--three-quarters,
  .bp-two--six-eighths,
  .bp-two--nine-twelfths { width: 75%; }
  .bp-two--one-fifth,
  .bp-two--two-tenths { width: 20%; }
  .bp-two--two-fifths,
  .bp-two--four-tenths { width: 40%; }
  .bp-two--three-fifths,
  .bp-two--six-tenths { width: 60%; }
  .bp-two--four-fifths,
  .bp-two--eight-tenths { width: 80%; }
  .bp-two--one-sixth,
  .bp-two--two-twelfths { width: 16.6666666%; }
  .bp-two--five-sixths,
  .bp-two--ten-twelfths { width: 83.3333333%; }
  .bp-two--one-eighth { width: 12.5%; }
  .bp-two--three-eighths { width: 37.5%; }
  .bp-two--five-eighths { width: 62.5%; }
  .bp-two--seven-eighths { width: 87.5%; }
  .bp-two--one-ninth { width: 11.1111111%; }
  .bp-two--two-ninths { width: 22.2222222%; }
  .bp-two--four-ninths { width: 44.4444444%; }
  .bp-two--five-ninths { width: 55.5555555%; }
  .bp-two--seven-ninths { width: 77.7777777%; }
  .bp-two--eight-ninths { width: 88.8888888%; }
  .bp-two--one-tenth { width: 10%; }
  .bp-two--three-tenths { width: 30%; }
  .bp-two--seven-tenths { width: 70%; }
  .bp-two--nine-tenths { width: 90%; }
  .bp-two--one-twelfth { width: 8.3333333%; }
  .bp-two--five-twelfths { width: 41.6666666%; }
  .bp-two--seven-twelfths { width: 58.3333333%; }
  .bp-two--eleven-twelfths { width: 91.6666666%; }
}
@include breakpoint(bp-three) {
  .bp-three--one-whole { width: 100%; }
  .bp-three--one-half,
  .bp-three--two-quarters,
  .bp-three--three-sixths,
  .bp-three--four-eighths,
  .bp-three--five-tenths,
  .bp-three--six-twelfths { width: 50%; }
  .bp-three--one-third,
  .bp-three--two-sixths,
  .bp-three--three-ninths,
  .bp-three--four-twelfths { width: 33.3333333%; }
  .bp-three--two-thirds,
  .bp-three--four-sixths,
  .bp-three--six-ninths,
  .bp-three--eight-twelfths { width: 66.6666666%; }
  .bp-three--one-quarter,
  .bp-three--two-eighths,
  .bp-three--three-twelfths { width: 25%; }
  .bp-three--three-quarters,
  .bp-three--six-eighths,
  .bp-three--nine-twelfths { width: 75%; }
  .bp-three--one-fifth,
  .bp-three--two-tenths { width: 20%; }
  .bp-three--two-fifths,
  .bp-three--four-tenths { width: 40%; }
  .bp-three--three-fifths,
  .bp-three--six-tenths { width: 60%; }
  .bp-three--four-fifths,
  .bp-three--eight-tenths { width: 80%; }
  .bp-three--one-sixth,
  .bp-three--two-twelfths { width: 16.6666666%; }
  .bp-three--five-sixths,
  .bp-three--ten-twelfths { width: 83.3333333%; }
  .bp-three--one-eighth { width: 12.5%; }
  .bp-three--three-eighths { width: 37.5%; }
  .bp-three--five-eighths { width: 62.5%; }
  .bp-three--seven-eighths { width: 87.5%; }
  .bp-three--one-ninth { width: 11.1111111%; }
  .bp-three--two-ninths { width: 22.2222222%; }
  .bp-three--four-ninths { width: 44.4444444%; }
  .bp-three--five-ninths { width: 55.5555555%; }
  .bp-three--seven-ninths { width: 77.7777777%; }
  .bp-three--eight-ninths { width: 88.8888888%; }
  .bp-three--one-tenth { width: 10%; }
  .bp-three--three-tenths { width: 30%; }
  .bp-three--seven-tenths { width: 70%; }
  .bp-three--nine-tenths { width: 90%; }
  .bp-three--one-twelfth { width: 8.3333333%; }
  .bp-three--five-twelfths { width: 41.6666666%; }
  .bp-three--seven-twelfths { width: 58.3333333%; }
  .bp-three--eleven-twelfths { width: 91.6666666%; }
}
@include breakpoint(bp-four) {
  .bp-four--one-whole { width: 100%; }
  .bp-four--one-half,
  .bp-four--two-quarters,
  .bp-four--three-sixths,
  .bp-four--four-eighths,
  .bp-four--five-tenths,
  .bp-four--six-twelfths { width: 50%; }
  .bp-four--one-third,
  .bp-four--two-sixths,
  .bp-four--three-ninths,
  .bp-four--four-twelfths { width: 33.3333333%; }
  .bp-four--two-thirds,
  .bp-four--four-sixths,
  .bp-four--six-ninths,
  .bp-four--eight-twelfths { width: 66.6666666%; }
  .bp-four--one-quarter,
  .bp-four--two-eighths,
  .bp-four--three-twelfths { width: 25%; }
  .bp-four--three-quarters,
  .bp-four--six-eighths,
  .bp-four--nine-twelfths { width: 75%; }
  .bp-four--one-fifth,
  .bp-four--two-tenths { width: 20%; }
  .bp-four--two-fifths,
  .bp-four--four-tenths { width: 40%; }
  .bp-four--three-fifths,
  .bp-four--six-tenths { width: 60%; }
  .bp-four--four-fifths,
  .bp-four--eight-tenths { width: 80%; }
  .bp-four--one-sixth,
  .bp-four--two-twelfths { width: 16.6666666%; }
  .bp-four--five-sixths,
  .bp-four--ten-twelfths { width: 83.3333333%; }
  .bp-four--one-eighth { width: 12.5%; }
  .bp-four--three-eighths { width: 37.5%; }
  .bp-four--five-eighths { width: 62.5%; }
  .bp-four--seven-eighths { width: 87.5%; }
  .bp-four--one-ninth { width: 11.1111111%; }
  .bp-four--two-ninths { width: 22.2222222%; }
  .bp-four--four-ninths { width: 44.4444444%; }
  .bp-four--five-ninths { width: 55.5555555%; }
  .bp-four--seven-ninths { width: 77.7777777%; }
  .bp-four--eight-ninths { width: 88.8888888%; }
  .bp-four--one-tenth { width: 10%; }
  .bp-four--three-tenths { width: 30%; }
  .bp-four--seven-tenths { width: 70%; }
  .bp-four--nine-tenths { width: 90%; }
  .bp-four--one-twelfth { width: 8.3333333%; }
  .bp-four--five-twelfths { width: 41.6666666%; }
  .bp-four--seven-twelfths { width: 58.3333333%; }
  .bp-four--eleven-twelfths { width: 91.6666666%; }
}

/**
  * Widths for flex layout
  */
.layout--flex {

  .one-whole {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .one-half,
  .two-quarters,
  .three-sixths,
  .four-eighths,
  .five-tenths,
  .six-twelfths {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .one-third,
  .two-sixths,
  .three-ninths,
  .four-twelfths {
    -webkit-flex: 0 0 33.333%;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
  .two-thirds,
  .four-sixths,
  .six-ninths,
  .eight-twelfths {
    -webkit-flex: 0 0 66.667%;
        -ms-flex: 0 0 66.667%;
            flex: 0 0 66.667%;
  }
  .one-quarter,
  .two-eighths,
  .three-twelfths {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .three-quarters,
  .six-eighths,
  .nine-twelfths {
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .one-fifth,
  .two-tenths {
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .two-fifths,
  .four-tenths {
    -webkit-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .three-fifths,
  .six-tenths {
    -webkit-flex: 0 0 60%;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .four-fifths,
  .eight-tenths {
    -webkit-flex: 0 0 80%;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
  .one-sixth,
  .two-twelfths {
    -webkit-flex: 0 0 16%;
        -ms-flex: 0 0 16%;
            flex: 0 0 16%;
  }
  .five-sixths,
  .ten-twelfths {
    -webkit-flex: 0 0 83.333%;
        -ms-flex: 0 0 83.333%;
            flex: 0 0 83.333%;
  }
  .one-eighth {
    -webkit-flex: 0 0 12.5%;
        -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
  }
  .three-eighths {
    -webkit-flex: 0 0 37.5%;
        -ms-flex: 0 0 37.5%;
            flex: 0 0 37.5%;
  }
  .five-eighths {
    -webkit-flex: 0 0 62.5%;
        -ms-flex: 0 0 62.5%;
            flex: 0 0 62.5%;
  }
  .seven-eighths {
    -webkit-flex: 0 0 87.5%;
        -ms-flex: 0 0 87.5%;
            flex: 0 0 87.5%;
  }
  .one-ninth {
    -webkit-flex: 0 0 11.1111111%;
        -ms-flex: 0 0 11.1111111%;
            flex: 0 0 11.1111111%;
  }
  .two-ninths {
    -webkit-flex: 0 0 22.2222222%;
        -ms-flex: 0 0 22.2222222%;
            flex: 0 0 22.2222222%;
  }
  .four-ninths {
    -webkit-flex: 0 0 44.4444444%;
        -ms-flex: 0 0 44.4444444%;
            flex: 0 0 44.4444444%;
  }
  .five-ninths {
    -webkit-flex: 0 0 55.5555555%;
        -ms-flex: 0 0 55.5555555%;
            flex: 0 0 55.5555555%;
  }
  .seven-ninths {
    -webkit-flex: 0 0 77.7777777%;
        -ms-flex: 0 0 77.7777777%;
            flex: 0 0 77.7777777%;
  }
  .eight-ninths {
    -webkit-flex: 0 0 88.8888888%;
        -ms-flex: 0 0 88.8888888%;
            flex: 0 0 88.8888888%;
  }
  .one-tenth {
    -webkit-flex: 0 0 10%;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
  }
  .three-tenths {
    -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
  .seven-tenths {
    -webkit-flex: 0 0 70%;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
  .nine-tenths {
    -webkit-flex: 0 0 90%;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
  .one-twelfth {
    -webkit-flex: 0 0 8.3333333%;
        -ms-flex: 0 0 8.3333333%;
            flex: 0 0 8.3333333%;
  }
  .five-twelfths {
    -webkit-flex: 0 0 41.6666666%;
        -ms-flex: 0 0 41.6666666%;
            flex: 0 0 41.6666666%;
  }
  .seven-twelfths {
    -webkit-flex: 0 0 58.3333333%;
        -ms-flex: 0 0 58.3333333%;
            flex: 0 0 58.3333333%;
  }
  .eleven-twelfths {
    -webkit-flex: 0 0 91.6666666%;
        -ms-flex: 0 0 91.6666666%;
            flex: 0 0 91.6666666%;
  }
}