/**
 * _trump.push.scss
 */
[class*="push--"]{ position:relative; }
.push--one-whole { left: 100%; }
.push--one-half,
.push--two-quarters,
.push--three-sixths,
.push--four-eighths,
.push--five-tenths,
.push--six-twelfths { left: 50%; }
.push--one-third,
.push--two-sixths,
.push--three-ninths,
.push--four-twelfths { left: 33.3333333%; }
.push--two-thirds,
.push--four-sixths,
.push--six-ninths,
.push--eight-twelfths { left: 66.6666666%; }
.push--one-quarter,
.push--two-eighths,
.push--three-twelfths { left: 25%; }
.push--three-quarters,
.push--six-eighths,
.push--nine-twelfths { left: 75%; }
.push--one-fifth,
.push--two-tenths { left: 20%; }
.push--two-fifths,
.push--four-tenths { left: 40%; }
.push--three-fifths,
.push--six-tenths { left: 60%; }
.push--four-fifths,
.push--eight-tenths { left: 80%; }
.push--one-sixth,
.push--two-twelfths { left: 16.6666666%; }
.push--five-sixths,
.push--ten-twelfths { left: 83.3333333%; }
.push--one-eighth { left: 12.5%; }
.push--three-eighths { left: 37.5%; }
.push--five-eighths { left: 62.5%; }
.push--seven-eighths { left: 87.5%; }
.push--one-ninth { left: 11.1111111%; }
.push--two-ninths { left: 22.2222222%; }
.push--four-ninths { left: 44.4444444%; }
.push--five-ninths { left: 55.5555555%; }
.push--seven-ninths { left: 77.7777777%; }
.push--eight-ninths { left: 88.8888888%; }
.push--one-tenth { left: 10%; }
.push--three-tenths { left: 30%; }
.push--seven-tenths { left: 70%; }
.push--nine-tenths { left: 90%; }
.push--one-twelfth { left: 8.3333333%; }
.push--five-twelfths { left: 41.6666666%; }
.push--seven-twelfths { left: 58.3333333%; }
.push--eleven-twelfths { left: 91.6666666%; }
@include breakpoint(bp-one) {
  .bp-one-push--none { left: 0; }
  .bp-one-push--one-whole { left: 100%; }
  .bp-one-push--one-half,
  .bp-one-push--two-quarters,
  .bp-one-push--three-sixths,
  .bp-one-push--four-eighths,
  .bp-one-push--five-tenths,
  .bp-one-push--six-twelfths { left: 50%; }
  .bp-one-push--one-third,
  .bp-one-push--two-sixths,
  .bp-one-push--three-ninths,
  .bp-one-push--four-twelfths { left: 33.3333333%; }
  .bp-one-push--two-thirds,
  .bp-one-push--four-sixths,
  .bp-one-push--six-ninths,
  .bp-one-push--eight-twelfths { left: 66.6666666%; }
  .bp-one-push--one-quarter,
  .bp-one-push--two-eighths,
  .bp-one-push--three-twelfths { left: 25%; }
  .bp-one-push--three-quarters,
  .bp-one-push--six-eighths,
  .bp-one-push--nine-twelfths { left: 75%; }
  .bp-one-push--one-fifth,
  .bp-one-push--two-tenths { left: 20%; }
  .bp-one-push--two-fifths,
  .bp-one-push--four-tenths { left: 40%; }
  .bp-one-push--three-fifths,
  .bp-one-push--six-tenths { left: 60%; }
  .bp-one-push--four-fifths,
  .bp-one-push--eight-tenths { left: 80%; }
  .bp-one-push--one-sixth,
  .bp-one-push--two-twelfths { left: 16.6666666%; }
  .bp-one-push--five-sixths,
  .bp-one-push--ten-twelfths { left: 83.3333333%; }
  .bp-one-push--one-eighth { left: 12.5%; }
  .bp-one-push--three-eighths { left: 37.5%; }
  .bp-one-push--five-eighths { left: 62.5%; }
  .bp-one-push--seven-eighths { left: 87.5%; }
  .bp-one-push--one-ninth { left: 11.1111111%; }
  .bp-one-push--two-ninths { left: 22.2222222%; }
  .bp-one-push--four-ninths { left: 44.4444444%; }
  .bp-one-push--five-ninths { left: 55.5555555%; }
  .bp-one-push--seven-ninths { left: 77.7777777%; }
  .bp-one-push--eight-ninths { left: 88.8888888%; }
  .bp-one-push--one-tenth { left: 10%; }
  .bp-one-push--three-tenths { left: 30%; }
  .bp-one-push--seven-tenths { left: 70%; }
  .bp-one-push--nine-tenths { left: 90%; }
  .bp-one-push--one-twelfth { left: 8.3333333%; }
  .bp-one-push--five-twelfths { left: 41.6666666%; }
  .bp-one-push--seven-twelfths { left: 58.3333333%; }
  .bp-one-push--eleven-twelfths { left: 91.6666666%; }
}
@include breakpoint(bp-two) {
  .bp-two-push--none { left: 0; }
  .bp-two-push--one-whole { left: 100%; }
  .bp-two-push--one-half,
  .bp-two-push--two-quarters,
  .bp-two-push--three-sixths,
  .bp-two-push--four-eighths,
  .bp-two-push--five-tenths,
  .bp-two-push--six-twelfths { left: 50%; }
  .bp-two-push--one-third,
  .bp-two-push--two-sixths,
  .bp-two-push--three-ninths,
  .bp-two-push--four-twelfths { left: 33.3333333%; }
  .bp-two-push--two-thirds,
  .bp-two-push--four-sixths,
  .bp-two-push--six-ninths,
  .bp-two-push--eight-twelfths { left: 66.6666666%; }
  .bp-two-push--one-quarter,
  .bp-two-push--two-eighths,
  .bp-two-push--three-twelfths { left: 25%; }
  .bp-two-push--three-quarters,
  .bp-two-push--six-eighths,
  .bp-two-push--nine-twelfths { left: 75%; }
  .bp-two-push--one-fifth,
  .bp-two-push--two-tenths { left: 20%; }
  .bp-two-push--two-fifths,
  .bp-two-push--four-tenths { left: 40%; }
  .bp-two-push--three-fifths,
  .bp-two-push--six-tenths { left: 60%; }
  .bp-two-push--four-fifths,
  .bp-two-push--eight-tenths { left: 80%; }
  .bp-two-push--one-sixth,
  .bp-two-push--two-twelfths { left: 16.6666666%; }
  .bp-two-push--five-sixths,
  .bp-two-push--ten-twelfths { left: 83.3333333%; }
  .bp-two-push--one-eighth { left: 12.5%; }
  .bp-two-push--three-eighths { left: 37.5%; }
  .bp-two-push--five-eighths { left: 62.5%; }
  .bp-two-push--seven-eighths { left: 87.5%; }
  .bp-two-push--one-ninth { left: 11.1111111%; }
  .bp-two-push--two-ninths { left: 22.2222222%; }
  .bp-two-push--four-ninths { left: 44.4444444%; }
  .bp-two-push--five-ninths { left: 55.5555555%; }
  .bp-two-push--seven-ninths { left: 77.7777777%; }
  .bp-two-push--eight-ninths { left: 88.8888888%; }
  .bp-two-push--one-tenth { left: 10%; }
  .bp-two-push--three-tenths { left: 30%; }
  .bp-two-push--seven-tenths { left: 70%; }
  .bp-two-push--nine-tenths { left: 90%; }
  .bp-two-push--one-twelfth { left: 8.3333333%; }
  .bp-two-push--five-twelfths { left: 41.6666666%; }
  .bp-two-push--seven-twelfths { left: 58.3333333%; }
  .bp-two-push--eleven-twelfths { left: 91.6666666%; }
}
@include breakpoint(bp-three) {
  .bp-three-push--none { left: 0; }
  .bp-three-push--one-whole { left: 100%; }
  .bp-three-push--one-half,
  .bp-three-push--two-quarters,
  .bp-three-push--three-sixths,
  .bp-three-push--four-eighths,
  .bp-three-push--five-tenths,
  .bp-three-push--six-twelfths { left: 50%; }
  .bp-three-push--one-third,
  .bp-three-push--two-sixths,
  .bp-three-push--three-ninths,
  .bp-three-push--four-twelfths { left: 33.3333333%; }
  .bp-three-push--two-thirds,
  .bp-three-push--four-sixths,
  .bp-three-push--six-ninths,
  .bp-three-push--eight-twelfths { left: 66.6666666%; }
  .bp-three-push--one-quarter,
  .bp-three-push--two-eighths,
  .bp-three-push--three-twelfths { left: 25%; }
  .bp-three-push--three-quarters,
  .bp-three-push--six-eighths,
  .bp-three-push--nine-twelfths { left: 75%; }
  .bp-three-push--one-fifth,
  .bp-three-push--two-tenths { left: 20%; }
  .bp-three-push--two-fifths,
  .bp-three-push--four-tenths { left: 40%; }
  .bp-three-push--three-fifths,
  .bp-three-push--six-tenths { left: 60%; }
  .bp-three-push--four-fifths,
  .bp-three-push--eight-tenths { left: 80%; }
  .bp-three-push--one-sixth,
  .bp-three-push--two-twelfths { left: 16.6666666%; }
  .bp-three-push--five-sixths,
  .bp-three-push--ten-twelfths { left: 83.3333333%; }
  .bp-three-push--one-eighth { left: 12.5%; }
  .bp-three-push--three-eighths { left: 37.5%; }
  .bp-three-push--five-eighths { left: 62.5%; }
  .bp-three-push--seven-eighths { left: 87.5%; }
  .bp-three-push--one-ninth { left: 11.1111111%; }
  .bp-three-push--two-ninths { left: 22.2222222%; }
  .bp-three-push--four-ninths { left: 44.4444444%; }
  .bp-three-push--five-ninths { left: 55.5555555%; }
  .bp-three-push--seven-ninths { left: 77.7777777%; }
  .bp-three-push--eight-ninths { left: 88.8888888%; }
  .bp-three-push--one-tenth { left: 10%; }
  .bp-three-push--three-tenths { left: 30%; }
  .bp-three-push--seven-tenths { left: 70%; }
  .bp-three-push--nine-tenths { left: 90%; }
  .bp-three-push--one-twelfth { left: 8.3333333%; }
  .bp-three-push--five-twelfths { left: 41.6666666%; }
  .bp-three-push--seven-twelfths { left: 58.3333333%; }
  .bp-three-push--eleven-twelfths { left: 91.6666666%; }
}
@include breakpoint(bp-four) {
  .bp-four-push--none { left: 0; }
  .bp-four-push--one-whole { left: 100%; }
  .bp-four-push--one-half,
  .bp-four-push--two-quarters,
  .bp-four-push--three-sixths,
  .bp-four-push--four-eighths,
  .bp-four-push--five-tenths,
  .bp-four-push--six-twelfths { left: 50%; }
  .bp-four-push--one-third,
  .bp-four-push--two-sixths,
  .bp-four-push--three-ninths,
  .bp-four-push--four-twelfths { left: 33.3333333%; }
  .bp-four-push--two-thirds,
  .bp-four-push--four-sixths,
  .bp-four-push--six-ninths,
  .bp-four-push--eight-twelfths { left: 66.6666666%; }
  .bp-four-push--one-quarter,
  .bp-four-push--two-eighths,
  .bp-four-push--three-twelfths { left: 25%; }
  .bp-four-push--three-quarters,
  .bp-four-push--six-eighths,
  .bp-four-push--nine-twelfths { left: 75%; }
  .bp-four-push--one-fifth,
  .bp-four-push--two-tenths { left: 20%; }
  .bp-four-push--two-fifths,
  .bp-four-push--four-tenths { left: 40%; }
  .bp-four-push--three-fifths,
  .bp-four-push--six-tenths { left: 60%; }
  .bp-four-push--four-fifths,
  .bp-four-push--eight-tenths { left: 80%; }
  .bp-four-push--one-sixth,
  .bp-four-push--two-twelfths { left: 16.6666666%; }
  .bp-four-push--five-sixths,
  .bp-four-push--ten-twelfths { left: 83.3333333%; }
  .bp-four-push--one-eighth { left: 12.5%; }
  .bp-four-push--three-eighths { left: 37.5%; }
  .bp-four-push--five-eighths { left: 62.5%; }
  .bp-four-push--seven-eighths { left: 87.5%; }
  .bp-four-push--one-ninth { left: 11.1111111%; }
  .bp-four-push--two-ninths { left: 22.2222222%; }
  .bp-four-push--four-ninths { left: 44.4444444%; }
  .bp-four-push--five-ninths { left: 55.5555555%; }
  .bp-four-push--seven-ninths { left: 77.7777777%; }
  .bp-four-push--eight-ninths { left: 88.8888888%; }
  .bp-four-push--one-tenth { left: 10%; }
  .bp-four-push--three-tenths { left: 30%; }
  .bp-four-push--seven-tenths { left: 70%; }
  .bp-four-push--nine-tenths { left: 90%; }
  .bp-four-push--one-twelfth { left: 8.3333333%; }
  .bp-four-push--five-twelfths { left: 41.6666666%; }
  .bp-four-push--seven-twelfths { left: 58.3333333%; }
  .bp-four-push--eleven-twelfths { left: 91.6666666%; }
}