/**
 * _base.headings.scss
 */
.heading {
  display: block;
  margin-bottom: $base-spacing-unit;
  font-family: $heading-font-family;
  color: $swatch-two;

  &--light {
    font-weight: 200;
    color: $swatch-one;
  }
}

h5.heading,
h6.heading { font-family: $small-heading-font-family; }

.tera {
  @include font-size($tera-size);
}
.giga {
  @include font-size($giga-size);
}
.mega {
  @include font-size($mega-size);
}
.kilo {
  @include font-size($kilo-size);
}
.alpha {
  @include font-size($alpha-size);
}
.beta {
  @include font-size($beta-size);
}
.gamma {
  @include font-size($gamma-size);
}
.delta {
  @include font-size($delta-size);
}
.epsilon {
  @include font-size($epsilon-size);
}
.zeta {
  @include font-size($zeta-size);
}

.tera,.giga,.mega,.kilo,
h1,h2,h3,h4,h5,h6 {
  font-weight: 900;
}

h5,
h6 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}
h6 { font-style: italic; }