/**
 * _base.page.scss
 */
@-ms-viewport {
  width: device-width;

  @media screen and (max-width:400px) {
    @-ms-viewport {
      width: 400px;
    }
  }
}
@viewport {
  width: device-width
}

html,
body {
  height: 100%;
}
html {
  //overflow-y: scroll;
  font-weight: $base-font-weight;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga","kern";
     -moz-font-feature-settings: "liga=1,kern=1";
     -moz-font-feature-settings: "liga","kern";
      -ms-font-feature-settings: "liga" 1,"kern" 1;
      -ms-font-feature-settings: "liga","kern";
       -o-font-feature-settings: "liga","kern";
          font-feature-settings: "liga","kern";

  @media screen and (min-width:0px) and (max-width:249px){
    & {
      font-size: 75%;
    }
  }
  @media screen and (min-width:250px) and (max-width:319px) {
    & {
      font-size: 87.5%;
    }
  }
  @media screen and (min-width: 468px) {
    & {
      font-size: 112.5%;
      line-height: 1.75;
    }
  }
  @media screen and (min-width: 982px) {
    & {
      font-size: 120%;
    }
  }
  @media print, (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi){
    & {
      font-weight: 300;
    }
  }
}

body {
  //overflow-x: hidden;
  color: lighten($swatch-two, 10%);
  background-color: $swatch-one;
  //opacity: 0;
  //visibility: hidden;
}

::selection {
  background-color: rgba(125,141,161,0.5);
  text-shadow: none;
}
