/**
 * _base.figure.scss
 */
figure {
  position: relative;
  margin-right: -$base-spacing-unit;
  margin-left:  -$base-spacing-unit;
  margin-bottom: $base-spacing-unit;

  > img {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.75em;
  }
}

figcaption {
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;
  font-family: $small-heading-font-family;
  font-size: 87.5%;
  color: lighten($swatch-two, 40%);
}