---
layout: home
title: Home
---
<h2 class="heading  alpha  w--300  u--m-bottom--huge">
  <span class="emoji-cursor-hi">I'm a designer</span> <span class="emoji-cursor-house">based in</span> <span class="emoji-cursor-union-jack">London, UK</span>. <span class="emoji-cursor-man-technologist">I'm Currently</span> <span class="emoji-cursor-spanner">working on</span> <span class="emoji-cursor-credit-card">booking experiences</span> <span class="emoji-cursor-pointing-up">at <a href="https://theculturetrip.com" title="Book travel that makes you feel good.">Culture Trip</a></span>. You can <span class="emoji-cursor-eyes">browse</span> some of my <span class="emoji-cursor-work">previous work</span> <span class="emoji-cursor-pointing-down">below</span>.
</h2>
{% include _projects.culture-trip.html %}
{% include _projects.oncare.html %}
{% include _projects.carmen.html %}
{% include _projects.robin.html %}
{% include _projects.state.html %}
{% include _projects.wonderpl.html %}
{% include _section.outro.html %}
