---
layout: home
title: Home
---
<h2 class="heading  mega  w--700  u--m-bottom--huge">I'm a designer based in London, UK. Currently, I’m working on experiments at <a href="https://theculturetrip.com" title="Location based inspiration and content to make you feel like a local, everywhere.">Culture Trip</a>. Let me show you some of my previous work below.</h2>
{% include _projects.culture-trip.html %}
{% include _projects.oncare.html %}
{% include _projects.carmen.html %}
{% include _projects.robin.html %}
{% include _projects.state.html %}
{% include _projects.wonderpl.html %}
<section class="u--m-bottom--huge">
  <h3 class="heading gamma w--300 no-spacing"><label for="toggle-checkbox" class="toggle-label" title="Send me an email." role="button" tabindex="0" aria-hidden="true">Get in touch</label> if you want to work together on interaction design, icon design, user experience or product strategy.</h3>
</section>
