<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>
  {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
  {% else %}
    {{ page.title }} &middot; {{ site.title }}
  {% endif %}
</title>
<script language="Javascript">
  var scrolltitle = "Michael Stężycki · Designer · Looking for work · Digital products · User experience · Interaction design · Product strategy · ";
  function marquee() {
    scrolltitle = scrolltitle.substring(1, scrolltitle.length) + scrolltitle.substring(0, 1);
    document.title = scrolltitle;
    setTimeout("marquee()", 300);
  }
</script>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="copyright" content="&copy; {{ site.title }} {{ site.time | date: '%Y' }}.">
<meta name="referrer" content="origin"><!-- for formspree -->
