<section class="u--m-bottom--huge">
  <h3 id="wonder-pl" class="heading  beta  no-spacing">Wonder PL&nbsp;<a href="#wonder-pl" class="subtitle-link" title="Permalink to this headline">#</a></h3>
  <p class="heading  page-subtitle">2014 with <a href="https://twitter.com/fffabs" title="Fab's Twitter profile">Fabio Basile</a> and <a href="https://twitter.com/ryanAmurphy" title="RyRy's Twitter profile">Ryan Murphy</a></p>
  
  <figure class="gallery u--m-bottom--huge">
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/content/wonder-pl-mobile.webp 1x,
                assets/img/content/wonder-pl-mobile@2x.webp 2x">
      <source
        type="image/png"
        srcset="assets/img/content/wonder-pl-mobile.png 1x,
                assets/img/content/wonder-pl-mobile@2x.png 2x">
      <img
        src="assets/img/content/wonder-pl-mobile.png"
        srcset="assets/img/content/wonder-pl-mobile.png 1x,
                assets/img/content/wonder-pl-mobile@2x.png 2x"
        alt="The home feed, a video player and discover view."
        title="The home feed, a video player and discover view."
        loading="auto"
        class="u--m-bottom"
        width="1040"
        height="568">
    </picture>
    <figcaption class="text-col">Home feed, video player overlay views and Discover view that appears on a mobile iOS device</figcaption>
  </figure>
  
  <p class="text-col">
    Wonder Place was a premium video mobile service for iOS. It boasted curated videos in categories like creativity, health and wellness among others. I worked on improving the UX and UI for the iOS app as well as a new monetisation feature. I also worked on the front-end for a new web based video project management app aiming to improve relationships between indie movie makers and studios.
  </p>
  <!-- <figure class="gallery">
    <img src="assets/img/content/romeo-showcase.png" srcset="assets/img/content/romeo-showcase.png 1x,assets/img/content/romeo-showcase@2x.png 2x" alt="Three Macbook Pro's appear alongside eachother displaying the collaboration view, wonder transfer view and an edit video view." loading="lazy">
    <figcaption class="text-col">Collaboration, Wonder Transfer and the edit video views in Romeo.</figcaption>
  </figure> -->
</section>