<section class="project u--m-bottom--huge">
  <h3 id="wonder-pl" class="heading  no-spacing  page-title  t--center">Wonder PL <a href="#wonder-pl" class="subtitle-link" title="Permalink to this headline">#</a></h3>
  <p class="heading  page-subtitle  t--center">2014 with <a href="https://twitter.com/fffabs" title="Fab's Twitter profile">Fabio Basile</a> and <a href="https://twitter.com/ryanAmurphy" title="RyRy's Twitter profile">Ryan Murphy</a></p>
  <figure class="gallery">
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/content/wonder-showcase.webp 1x,
                assets/img/content/wonder-showcase@2x.webp 2x">
      <source
        type="image/png"
        srcset="assets/img/content/wonder-showcase.png 1x,
                assets/img/content/wonder-showcase@2x.png 2x">
      <img
        src="assets/img/content/wonder-showcase.png"
        srcset="assets/img/content/wonder-showcase.png 1x,
                assets/img/content/wonder-showcase@2x.png 2x"
        alt="Two iPad devices appear on top of eachother displaying a profile and home feed."
        loading="lazy"
        width="1086"
        height="1000">
    </picture>
    <figcaption class="text-col">Profile and home feed as they appear on iPad.</figcaption>
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/content/wonder-shots.webp 1x,
                assets/img/content/wonder-shots@2x.webp 2x">
      <source
        type="image/png"
        srcset="assets/img/content/wonder-shots.png 1x,
                assets/img/content/wonder-shots@2x.png 2x">
      <img
        src="assets/img/content/wonder-shots.png"
        srcset="assets/img/content/wonder-shots.png 1x,
                assets/img/content/wonder-shots@2x.png 2x"
        alt="Three iPhone SE devices appearing alongside eachother displaying the home feed, a video player and explore view."
        loading="lazy"
        width="1086"
        height="687">
    </picture>
    <figcaption class="text-col">Home feed, video player overlay views and Explore view that appears on a mobile iOS device.</figcaption>
  </figure>
  <p class="text-col">
    Wonder Place was a premium video mobile service for iOS. It boasted curated videos in categories like creativity, health and wellness among others.<br><br>I worked on improving the <abbr title="User Experience">UX</abbr> and <abbr title="User Interface">UI</abbr> for the iOS app as well as a new monetisation feature. I also worked on the front-end for a new web based video project management app aiming to improve relationships between indie movie makers and studios.
  </p>
  <figure class="gallery">
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/content/romeo-showcase.webp 1x,
                assets/img/content/romeo-showcase@2x.webp 2x">
      <source
        type="image/png"
        srcset="assets/img/content/romeo-showcase.png 1x,
                assets/img/content/romeo-showcase@2x.png 2x">
      <img
        src="assets/img/content/romeo-showcase.png"
        srcset="assets/img/content/romeo-showcase.png 1x,
                assets/img/content/romeo-showcase@2x.png 2x"
        alt="Three Macbook Pro's appear alongside eachother displaying the collaboration view, wonder transfer view and an edit video view."
        loading="lazy"
        width="1086"
        height="328">
    </picture>
    <figcaption class="text-col">Collaboration, Wonder Transfer and the edit video views in Romeo.</figcaption>
  </figure>
</section>