<section class="u--m-bottom--huge">
  <h3 id="culture-trip" class="heading  no-spacing  page-title">Culture Trip <a href="#culture-trip" class="subtitle-link" title="Permalink to this headline">¶</a></h3>
  <p class="heading  page-subtitle  t--center">2017&mdash;<i>Present</i></p>
  <figure class="gallery  u--top--large">
    <img src="assets/img/content/creator-app-iphone-montage.png" srcset="assets/img/content/creator-app-iphone-montage.png 1x,assets/img/content/creator-app-iphone-montage@2x.png 2x" alt="Three iPhone devices appear side by side showing the Creator App task options, task view and request extention dialogue." title="The Creator App as it appears on mobile devices." loading="auto" class="u--m-bottom--large">
    <figcaption class="text-col">The Creator App as it appears on mobile devices.</figcaption>
  </figure>
  <p class="text-col">
  	<a href="https://theculturetrip.com" title="Book travel that makes you feel good">Culture Trip</a> is a content, e-commerce and technology company in the travel vertical.<br><br>
  	I joined as a product designer to work alongside the small product and tech team, based in Tel Aviv, on improving the website and native mobile apps. In early 2018, the company raised 80 million dollars in a series B round, continuing its mission to shine a light on different cultures worldwide. I focused on improving conversions for an affiliate booking program.<br><br>
	  After seeing improvements, the company decided to enter the <abbr title="Online Travel Agent">OTA</abbr> space, I designed the first round of the booking experience.<br><br>
	  After that, I focused on experiments that drove traffic around the site directing our readers to conversion oportunities.<br><br>
	  Continuing on, I worked within the content and community squad, responsible for designing content production experiences for our freelancers.<br><br>
    I am now working on improving the booking experiences for both of our native mobile apps which you can download from the <a href="https://apps.apple.com/gb/app/culture-trip-explore-travel/id1146832951">App Store</a> and <a href="https://play.google.com/store/apps/details?id=culturetrip.com&hl=en_GB&gl=US">Play Store</a>, respectively.
  </p>
</section>
