<section class="u--m-bottom--huge">
  <h3 id="culture-trip" class="heading  beta  t--center  no-spacing">Culture Trip&nbsp;<a href="#culture-trip" class="subtitle-link" title="Permalink to this headline">#</a></h3>
  <p class="heading  page-subtitle  t--center">2017&mdash;<i>Present</i></p>
  <p class="text-col u--m-bottom--small">
    <a href="https://theculturetrip.com" title="Location based inspiration and content to make you feel like a local, everywhere.">Culture Trip</a> is a content, e-commerce and technology company in the travel vertical.
  </p>
  
  <h4 id="affiliate-bookings" class="heading delta t--center">Affiliate Bookings&nbsp;<a href="#affiliate-bookings" class="subtitle-link" title="Permalink to this headline">#</a></h4>
  <p class="text-col u--m-bottom--large">
    I joined as a product designer to work alongside the small product and tech team, based in Tel Aviv, on improving the website and native mobile apps. In early 2018, the company raised 80 million dollars in a series B round, continuing its mission to shine a light on different cultures worldwide. I focused on improving conversions for an affiliate booking program.
  </p>
  
  <h4 id="ota" class="heading delta t--center">Online Travel Agent&nbsp;<a href="#ota" class="subtitle-link" title="Permalink to this headline">#</a></h4>
  <p class="text-col u--m-bottom--large">
    After seeing some initial positive signals, the company decided to enter the <abbr title="Online Travel Agent">OTA</abbr> space, I designed the first round of the booking experience.
  </p>
  
  <h4 id="p2p" class="heading delta t--center">Growth/Pathways To Purchase&nbsp;<a href="#p2p" class="subtitle-link" title="Permalink to this headline">#</a></h4>
  <p class="text-col u--m-bottom--large">
    After that, I focused on experiments that drove traffic around the site directing our readers to conversion opportunities.
  </p>
  
  <h4 id="cops" class="heading delta t--center">Content &amp; Community&nbsp;<a href="#cops" class="subtitle-link" title="Permalink to this headline">#</a></h4>
  <p class="text-col u--m-bottom--large">
    Continuing on, I worked within the content and community squad, responsible for designing content production experiences for our freelancers in the form of our very own 'Creator App' web app.
  </p>
  <figure class="gallery u--m-bottom--huge">
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/content/creator-app-mobile.webp 1x,
                assets/img/content/creator-app-mobile@2x.webp 2x">
      <source
        type="image/png"
        srcset="assets/img/content/creator-app-mobile.png 1x,
                assets/img/content/creator-app-mobile@2x.png 2x">
      <img
        src="assets/img/content/creator-app-mobile.png"
        srcset="assets/img/content/creator-app-mobile.png 1x,
                assets/img/content/creator-app-mobile@2x.png 2x"
        alt="Three screenshots side by side showing the Creator App task options, task view and request extention dialogue."
        title="The Creator App as it appears on mobile devices."
        loading="auto"
        class="u--m-bottom"
        width="1205"
        height="812">
    </picture>
    <figcaption class="text-col t--center">The Creator App as it appears on mobile devices.</figcaption>
  </figure>
  
  <h4 id="bookable" class="heading delta t--center">Bookable Experiences&nbsp;<a href="#bookable" class="subtitle-link" title="Permalink to this headline">#</a></h4>
  <p class="text-col u--m-bottom--large">
    I worked on improving booking related experiences across our website and both of our native mobile apps which you can download from the <a href="https://apps.apple.com/gb/app/culture-trip-explore-travel/id1146832951">App Store</a> and <a href="https://play.google.com/store/apps/details?id=culturetrip.com&amp;hl=en_GB&amp;gl=US">Play Store</a>, respectively.
  </p>
  
  <h4 id="native-checkout" class="heading delta t--center">Native Checkout for Apps&nbsp;<a href="#native-checkout" class="subtitle-link" title="Permalink to this headline">#</a></h4>
  <p class="text-col u--m-bottom--large">
    Building off the amazing work that had been done on the Checkout via the web, I designed all the native checkout experiences for the app and tried to get the experience feeling like a first party citizen on the respective platforms.
  </p>
  <figure class="gallery u--m-bottom--huge">
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/content/native-checkout.webp 1x,
                assets/img/content/native-checkout@2x.webp 2x">
      <source
        type="image/png"
        srcset="assets/img/content/native-checkout.png 1x,
                assets/img/content/native-checkout@2x.png 2x">
      <img
        src="assets/img/content/native-checkout.png"
        srcset="assets/img/content/native-checkout.png 1x,
                assets/img/content/native-checkout@2x.png 2x"
        alt="Three screenshots side by side showing an empty checkout screen, a summary overlay sheet and an Apple Pay dialogue."
        title="Native checkout designs as it appears on the iOS app."
        loading="auto"
        class="u--m-bottom"
        width="1205"
        height="812">
    </picture>
    <figcaption class="text-col t--center">Native checkout designs as it appears on the iOS app.</figcaption>
  </figure>
  
  <h4 id="apple-pay" class="heading delta t--center">Apple Pay for Web &amp; Apps&nbsp;<a href="#apple-pay" class="subtitle-link" title="Permalink to this headline">#</a></h4>
  <p class="text-col u--m-bottom--large">
    I designed how Apple Pay would work via the web checkout and mobile apps natively. I also sat in with the developers and offered a technical solution to implement the Apple Pay button.
  </p>
</section>
