<section class="project u--m-bottom--huge">
  <h3 id="oncare" class="heading  no-spacing  page-title  t--center">OnCare <a href="#oncare" class="subtitle-link" title="Permalink to this headline">#</a></h3>
  <p class="heading  page-subtitle  t--center">2016&mdash;2017 with <a href="https://twitter.com/alistairsbrain" title="Alistair Cohen's Twitter profile">Alistair Cohen</a></p>
  <figure class="gallery">
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/content/oncare-showcase.webp 1x,
                assets/img/content/oncare-showcase@2x.webp 2x">
      <source
        type="image/png"
        srcset="assets/img/content/oncare-showcase.png 1x,
                assets/img/content/oncare-showcase@2x.png 2x">
      <img
        src="assets/img/content/oncare-showcase.png"
        srcset="assets/img/content/oncare-showcase.png 1x,
                assets/img/content/oncare-showcase@2x.png 2x"
        alt="Four iPhone 6 devices laid out depicting from right to left, 'my clients' view, a 'client profile' view, a 'checked in' view and 'all reports' view."
        loading="lazy">
    </picture>
    <figcaption class="text-col">A selection of core screens from the OnCare iOS app.</figcaption>
  </figure>
  <p class="text-col">
  	<a href="http://www.weareoncare.com" title="We save care agencies time and money by replacing paper records with a simple app, help to boost CQC ratings, and keep families closer to their loved ones' care.">OnCare</a> is a <abbr title="Business-to-Business">B2B</abbr> <abbr title="Software as a Service">SaaS</abbr> business from the <a href="https://foundersfactory.com/portfolio/">Founders Factory incubator</a>. OnCare provides tools that saves costs to Care Agencies and make caring for the elderly easier.<br><br>The business has three apps which I helped prototype and design. This includes a React Native app for both <a href="https://apps.apple.com/gb/app/oncare/id1229745915">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.oncaremobileapp&hl=en_GB&gl=US">Android</a> and a responsive <a href="https://app.weareoncare.com">web app</a>. I worked on product strategy, prototypes and informing the user experience, as well as the creative direction.
  </p>
</section>