<section class="u--m-bottom--huge">
  <h2 class="heading  no-spacing  page-title">Carmen</h2>
  <p class="heading  page-subtitle  t--center">2016 with <a href="https://twitter.com/Mathilde_Leo" title="Mathilde Leo's Twitter profile">Mathilde Leo</a></p>

  <figure class="gallery">
    <img src="assets/img/content/carmen-onboarding.png" srcset="assets/img/content/carmen-onboarding.png 1x,assets/img/content/carmen-onboarding@2x.png 2x" alt="During onboarding, you're asked to give feedback to at least 3 colleagues who share the same email domain." title="During onboarding, you're asked to give feedback to at least 3 colleagues who share the same email domain." loading="lazy">
  </figure>
  
  <!-- <ul class="tabs" role="tablist">
    <li>
      <input type="radio" name="tabs" id="tab1" checked />
      <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">Onboarding</label>
      <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
        <figure class="gallery">
          <img src="assets/img/content/carmen-onboarding.png" srcset="assets/img/content/carmen-onboarding.png 1x,assets/img/content/carmen-onboarding@2x.png 2x" alt="During onboarding, you're asked to give feedback to at least 3 colleagues who share the same email domain." title="During onboarding, you're asked to give feedback to at least 3 colleagues who share the same email domain." loading="lazy">
        </figure>
      </div>
    </li>
    <li>
      <input type="radio" name="tabs" id="tab2" />
      <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Summary</label>
      <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <figure class="gallery">
          <img src="assets/img/content/carmen-summary.png" srcset="assets/img/content/carmen-summary.png 1x,assets/img/content/carmen-summary@2x.png 2x" alt="Once you start recieveing feedback, it gets presented in the summary view which can be sorted and filtered." title="Once you start recieveing feedback, it gets presented in the summary view which can be sorted and filtered." loading="lazy">
        </figure>
      </div>
    </li>
  </ul> -->

  <p class="text-col">Carmen&mdash;now known as <a href="http://www.getfrisbee.com" title="frisbee, the continuous feedback platform, helping employees and organisations grow, every day.">Frisbee</a>&mdash;is a web based peer-to-peer workplace feedback tool from the <a href="https://foundersfactory.com/portfolio/">Founders Factory incubator</a>. My involvement included prototyping early ideas, sitting in user interviews to find out needs for getting direct, actionable and empathetic feedback and designing the UI for the web app.</p>
</section>