<section class="u--m-bottom--huge">
  <h3 id="culture-trip" class="heading  no-spacing  page-title">Culture Trip <a href="#culture-trip" class="subtitle-link" title="Permalink to this headline">¶</a></h3>
  <p class="heading  page-subtitle  t--center">2017&mdash;<i>Present</i></p>
  <p class="text-col">
  	<a href="https://theculturetrip.com" title="Location based inspiration and content to make you feel like a local, everywhere.">Culture Trip</a> is a media, entertainment and technology company in the travel vertical.<br><br>
  	I joined as a product designer to work alongside the small product and tech team, based in Tel Aviv, on improving the website and native mobile apps. In early 2018, the company raised 80 million dollars in a series B round, continuing its mission to shine a light on different cultures worldwide. I focused on improving conversions for an affiliate booking program.<br><br>
	After seeing improvements, the company decided to enter the <abbr title="Online Travel Agent">OTA</abbr> space, I designed the first round of the booking experience.<br><br>
	After that, I focused on experiments that drove traffic around the site directing our readers to conversion oportunities.<br><br>
	I now work within the content and community squad, responsible for designing content production experiences.
  </p>
  <!-- <figure class="gallery">
    <img src="assets/img/content/creator-app-iphone-montage.png" srcset="assets/img/content/creator-app-iphone-montage.png 1x,assets/img/content/creator-app-iphone-montage@2x.png 2x" alt="Three iPhone devices appear side by side showing the Creator App task options, task view and request extention dialogue." title="The Creator App as it appears on mobile devices." loading="auto">
    <figcaption class="text-col">The Creator App as it appears on mobile devices.</figcaption>
    <img src="assets/img/content/creator-app-task-view.png" srcset="assets/img/content/creator-app-task-view.png 1x,assets/img/content/creator-app-task-view@2x.png 2x" alt="A Pro XDR display shows the Creator App task view on a desktop browser." title="The Creator App as it appears on a desktop browser." loading="lazy">
    <figcaption class="text-col">The Creator App task view as it appears on a desktop browser.</figcaption>
  </figure> -->
</section>
