<section class="u--m-bottom--huge">
  <h3 id="state" class="heading  no-spacing  page-title">State <a href="#state" class="subtitle-link" title="Permalink to this headline">¶</a></h3>
  <p class="heading  page-subtitle  t--center">2014&mdash;2015 with <a href="https://www.linkedin.com/in/alexnako" title="Nako's LinkedIn profile">Alex Nako</a></p>
  <figure class="gallery">
    <img src="assets/img/content/state-iphone-feature.png" srcset="assets/img/content/state-iphone-feature.png 1x,assets/img/content/state-iphone-feature@2x.png 2x" alt="Three iPhone 6 devices appear alongside eachother displaying the home feed, a topic and a user profile." loading="lazy">
    <figcaption class="text-col">Home feed showing top content from your network, a topic and a user profile as they appear on iOS.</figcaption>
  </figure>
  <p class="text-col">
  	State, the world’s global opinion network. Tag your opinions and let the world know what you think through structured analysis. Build friendships with people who think similarly, or have healthy debates with people who think different.<br><br>I worked on refreshing the iOS and Android apps and helped redesign and launch the new responsive web app as well as improving the core state experience.
  </p>
</section>