<section class="u--m-bottom--huge">
  <h2 class="heading  no-spacing  page-title">Robin</h2>
  <p class="heading  page-subtitle  t--center">2015&mdash;2016 with <a href="https://twitter.com/michaelwillmott" title="Michael Willmott's Twitter profile">Michael Willmott</a></p>
  <figure class="gallery">
    <img src="assets/img/content/robin-iphone-feature.png" srcset="assets/img/content/robin-iphone-feature.png 1x,assets/img/content/robin-iphone-feature@2x.png 2x" alt="Two iPhone 6 devices depicting the onboarding [top left] and the brief view [bottom right]." loading="lazy">
    <figcaption>An onboarding view and the brief view from Robin.</figcaption>
  </figure>
  <p class="text-col">Robin was a proof of concept mobile workplace training app from the <a href="https://foundersfactory.com/portfolio/">Founders Factory incubator</a>. Geared towards sales teams, it solved the problem of getting new reps up to speed faster and more efficiently. I worked on both native iOS and Android apps and a web app dashboard for managing teams and content.</p>
</section>