<section class="u--m-bottom--huge">
  <h3 id="state" class="heading beta no-spacing">State&nbsp;<a href="#state" class="subtitle-link" title="Permalink to this headline">#</a></h3>
  <p class="heading  page-subtitle">2014&mdash;2015 with <a href="https://www.linkedin.com/in/alexnako" title="Nako's LinkedIn profile">Alex Nako</a></p>

  <figure class="gallery u--m-bottom--huge">
    <picture>
      <source
        type="image/webp"
        srcset="assets/img/content/state-mobile.webp 1x,
                assets/img/content/state-mobile@2x.webp 2x">
      <source
        type="image/png"
        srcset="assets/img/content/state-mobile.png 1x,
                assets/img/content/state-mobile@2x.png 2x">
      <img
        src="assets/img/content/state-mobile.png"
        srcset="assets/img/content/state-mobile.png 1x,
                assets/img/content/state-mobile@2x.png 2x"
        alt="Home feed showing top content from your network, a topic and a user profile as they appear on iOS."
        title="Home feed showing top content from your network, a topic and a user profile as they appear on iOS."
        loading="auto"
        class="u--m-bottom"
        width="1205"
        height="667">
    </picture>
    <figcaption class="text-col">Home feed showing top content from your network, a topic and a user profile as they appear on iOS.</figcaption>
  </figure>

  <p class="text-col"><a href="https://state.com" title="The global opinion network.">State</a>, the world’s global opinion network. Tag your opinions and let the world know what you think through structured analysis. Build friendships with people who think similarly, or have healthy debates with people who think different. I worked on refreshing the iOS and Android apps and helped redesign and launch the new responsive web app.</p>
</section>