<section class="u--m-bottom--huge">
  <h3 id="carmen" class="heading  no-spacing  page-title  t--center">Carmen <a href="#carmen" class="subtitle-link" title="Permalink to this headline">#</a></h3>
  <p class="heading  page-subtitle  t--center">2016 with <a href="https://twitter.com/Mathilde_Leo" title="Mathilde Leo's Twitter profile">Mathilde Leo</a></p>

  <figure class="gallery">
    <img src="assets/img/content/carmen-onboarding.png" srcset="assets/img/content/carmen-onboarding.png 1x,assets/img/content/carmen-onboarding@2x.png 2x" alt="A macbook pro displays the onboarding process." loading="lazy">
    <figcaption class="text-col">During onboarding, you're asked to give feedback to at least 3 colleagues who share the same email domain.</figcaption>
  </figure>

  <p class="text-col">
  	Carmen&mdash;later known as Frisbee&mdash;was a web based peer-to-peer workplace feedback tool from the <a href="https://foundersfactory.com/portfolio/">Founders Factory incubator</a>.<br><br>
  	My involvement included prototyping early ideas, sitting in user interviews to find out needs for getting direct, actionable and empathetic feedback and designing the <abbr title="User Interface">UI</abbr> for the web app.
  </p>
</section>