<section class="u--m-bottom--huge">
  <div class="text-col">
    <h3 id="love-to-work-with-again" class="heading page-title">Folks I’d love to work with again <a href="#love-to-work-with-again" class="subtitle-link" title="Permalink to this headline">¶</a></h3>
    <ul class="work-list">
      <li class="work-list-item"><a href="https://github.com/aaronstezycki" class="work-list-link">Aaron Stezycki</a></li>
      <li class="work-list-item"><a href="http://linkedin.com/in/avanstone" class="work-list-link">Alan Vanstone</a></li>
      <li class="work-list-item"><a href="https://dribbble.com/alexbrooke" class="work-list-link">Alex Brooke</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Alex Nako</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Alexandros Schillings</a></li>
      <li class="work-list-item"><a href="https://github.com/alistaircohendev" class="work-list-link">Alistair Cohen</a></li>
      <li class="work-list-item"><a href="https://github.com/neebone" class="work-list-link">Allan Brisbane</a></li>
      <li class="work-list-item"><a href="https://www.linkedin.com/in/andreasgertschgrover/" class="work-list-link">Andreas Gertsch Grover</a></li>
      <li class="work-list-item"><a href="https://andybolton.dev/" class="work-list-link">Andy Bolton</a></li>
      <!-- <li class="work-list-item"><a href="https://github.com/AnjanaHewage" class="work-list-link">Anjana Hewage</a></li> -->
      <!-- <li class="work-list-item"><a href="https://github.com/ALucking1" class="work-list-link">Anna Lucking</a></li> -->
      <li class="work-list-item"><a href="https://www.linkedin.com/in/anthonyandersonproduct" class="work-list-link">Anthony Anderson</a></li>
      <li class="work-list-item"><a href="https://github.com/abitgone" class="work-list-link">Anthony Williams</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Barry Burrows</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Bjorn Conradi</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Cecilia De Conto</a></li>
      <li class="work-list-item"><a href="https://github.com/CongL3" class="work-list-link">Cong Lee</a></li>
      <li class="work-list-item"><a href="https://github.com/craigtubb57" class="work-list-link">Craig Tubb</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Dan Baird</a></li>
      <li class="work-list-item"><a href="https://github.com/danharvey" class="work-list-link">Dan Harvey</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Dan Kologdzie</a></li>
      <li class="work-list-item"><a href="https://github.com/davidseow" class="work-list-link">David Seow</a></li>
      <li class="work-list-item"><a href="https://github.com/darve" class="work-list-link">David Wollard</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Elisabeth Rostad</a></li>
      <!-- <li class="work-list-item"><a href="#" class="work-list-link">Florencia Mangiantini</a></li> -->
      <li class="work-list-item"><a href="#" class="work-list-link">Graham Lyon</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Hadar Taite</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Hardik Mandavia</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Hari Sriskantha</a></li>
      <li class="work-list-item"><a href="https://github.com/hasanavi" class="work-list-link">Hasan Haque</a></li>
      <li class="work-list-item"><a href="https://github.com/5arx" class="work-list-link">Indra Sakar</a></li>
      <li class="work-list-item"><a href="https://www.linkedin.com/in/jacek-filipczuk-53626894/" class="work-list-link">Jacek Filipczuk</a></li>
      <li class="work-list-item"><a href="https://github.com/JamesBrill" class="work-list-link">James Brill</a></li>
      <li class="work-list-item"><a href="https://www.linkedin.com/in/james-hayes-01b37b86/" class="js-audio-clip work-list-link" title="I'm the best!"><span class="emoji-cursor-cup">James Hayes</span></a></li>
      <li class="work-list-item"><a href="https://github.com/usercise" class="work-list-link">Johan Runge-Goransson</a></li>
      <!-- <li class="work-list-item"><a href="#" class="work-list-link">Jimi Rowe</a></li> -->
      <li class="work-list-item"><a href="https://github.com/jits" class="work-list-link">Jits Bhagat</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Jon Staley</a></li>
      <li class="work-list-item"><a href="https://github.com/pocketjoso" class="work-list-link">Jonas Ohlsson</a></li>
      <li class="work-list-item"><a href="https://github.com/faooful" class="work-list-link">Joseph Williams</a></li>
      <li class="work-list-item"><a href="https://github.com/KingJoshCT" class="work-list-link">Josh King</a></li>
      <li class="work-list-item"><a href="https://github.com/juliamitchelmore" class="work-list-link">Julia Mitchelmore</a></li>
      <!-- <li class="work-list-item"><a href="#" class="work-list-link">Kelly Batchelor</a></li> -->
      <li class="work-list-item"><a href="#" class="work-list-link">Laurie Jane</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Leon Ooi</a></li>
      <!-- <li class="work-list-item"><a href="https://github.com/fuxlud" class="work-list-link">Luda Fux</a></li> -->
      <li class="work-list-item"><a href="https://github.com/novemberborn" class="work-list-link">Mark Wubben</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Marton Fodor</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Matilde Leo</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Melissa Barnhart</a></li>
      <!-- <li class="work-list-item"><a href="https://github.com/mcdeguzman99" class="work-list-link">Michael De Guzman</a></li> -->
      <li class="work-list-item"><a href="https://github.com/mwillmott" class="work-list-link">Michael Willmott</a></li>
      <li class="work-list-item"><a href="https://www.linkedin.com/in/michaeljzucker1" class="work-list-link">Michael Zucker</a></li>
      <li class="work-list-item"><a href="https://github.com/mihai" class="work-list-link">Mihai Cîrlănaru</a></li>
      <li class="work-list-item"><a href="https://github.com/MikeTinson" class="work-list-link">Mike Tinson</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Mischa Tuffield</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Nancy Brown</a></li>
      <li class="work-list-item"><a href="#" class="work-list-link">Nick Bennet</a></li>
      <!-- <li class="work-list-item"><a href="#" class="work-list-link">Nick Jakobi</a></li> -->
      <!-- <li class="work-list-item"><a href="https://github.com/nirarazi" class="work-list-link">Nir Arazi</a></li> -->
      <li class="work-list-item"><a href="https://linkedin.com/in/patricia-rocco-a7699185" class="work-list-link">Patricia Rocco</a></li>
      <li class="work-list-item"><a href="https://github.com/paulegan" class="work-list-link">Paul Egan</a></li>
      <li class="work-list-item"><a href="https://github.com/pev89" class="work-list-link">Pedram Vahabi</a></li>
      <li class="work-list-item"><a href="https://github.com/cookpete" class="work-list-link">Pete Cook</a></li>
      <li class="work-list-item"><a href="https://github.com/TheCoordinator" class="work-list-link">Peyman Khanjan</a></li>
      <li class="work-list-item"><a href="https://github.com/philpill" class="work-list-link">Phil Shum</a></li>
      <!-- <li class="work-list-item"><a href="https://github.com/razelkayamdev" class="work-list-link">Raz Elkayam</a></li> -->
      <li class="work-list-item"><a href="https://www.linkedin.com/in/roop-gill/" class="work-list-link">Roop Gill Axelson</a></li>
      <li class="work-list-item"><a href="https://github.com/ryan2611" class="work-list-link">Ryan Murphy</a></li>
      <li class="work-list-item"><a href="https://github.com/spencermountain" class="work-list-link">Spencer Kelly</a></li>
      <li class="work-list-item"><a href="https://github.com/tomasruta" class="work-list-link">Thomas Ruta</a></li>
      <li class="work-list-item"><a href="https://www.linkedin.com/in/tim-jones-b904582/" class="work-list-link">Tim Jones</a></li>
      <li class="work-list-item"><a href="https://github.com/willmcvay" class="work-list-link">Will McVay</a></li>
      <li class="work-list-item"><a href="https://zedapaz.com/" class="work-list-link">Ze Pa</a></li>
      <li class="work-list-item"><a href="https://www.linkedin.com/in/guomxu/" class="work-list-link">Guoming Xu</a></li>
    </ul>
  </div>
</section>