<section class="u--m-bottom--huge">
  <h3 id="workstation-setup" class="heading page-title t--center">What’s my workstation setup?&nbsp;<a href="#workstation-setup" class="subtitle-link" title="Permalink to this headline">#</a></h3>
  <figure class="gallery">
	<picture>
	  <source
		type="image/webp"
		srcset="/assets/img/content/DeskSetup.webp 1x,
				/assets/img/content/DeskSetup@2x.webp 2x">
	  <source
		type="image/jpg"
		srcset="/assets/img/content/DeskSetup.jpg 1x,
				/assets/img/content/DeskSetup@2x.jpg 2x">
	  <img
		src="/assets/img/content/DeskSetup.jpg"
		srcset="/assets/img/content/DeskSetup.jpg 1x,
				/assets/img/content/DeskSetup@2x.jpg 2x"
		alt="A photo of my current desk setup. A 3 draw wooden desk with a laptop, bluetooth speaker, coaster, trackpad, keyboard, magnetic cable tidy, Thunderbolt 3 dock, monitor arm holding up a 25&quot; Ultrasharp and my iPhone X hoisted up on a gooseneck for webcam use."
		loading="lazy"
		class="u--m-bottom"
		width="1086"
		height="724">
	</picture>
	<figcaption class="text-col t--center u--m-bottom--huge">I'm always tinkering with my desk setup, but I think I’ve settled on this setup for a while. My iPhone is used as a webcam with the fantastic <a href="https://reincubate.com/camo/" alt="Use your phone as a webcam to look amazing on video calls.">Camo app from Reincubate</a>.</figcaption>
	<picture>
	  <source
		type="image/webp"
		src="/assets/img/content/MacOSDesktop~light.webp">
	  <source
		type="image/png"
		src="/assets/img/content/MacOSDesktop~light.png">
	  <img
		src="/assets/img/content/MacOSDesktop~light.png"
		alt="A blank MacOS desktop screenshot showing the menubar at the top and the dock on the left-hand side of the screen"
		loading="lazy"
		class="u--m-bottom"
		width="1086"
		height="611">
	</picture>
	<figcaption class="text-col t--center u--m-bottom--huge">I prefer to keep my desktop free from files and folders, I hide my dock and only keep open applications in it. I also use <a href="https://www.macbartender.com" title="Take control of your menu bar.">Bartender</a> to keep the right side of my menubar clean and focused.</figcaption>
	<picture>
	  <source
		type="image/webp"
		srcset="/assets/img/content/iPhoneHomescreen~dark.webp 1x,
				/assets/img/content/iPhoneHomescreen~dark@2x.webp 2x">
	  <source
		type="image/png"
		srcset="/assets/img/content/iPhoneHomescreen~dark.png 1x,
				/assets/img/content/iPhoneHomescreen~dark@2x.png 2x">
	  <img
		src="/assets/img/content/iPhoneHomescreen~dark.png"
		srcset="/assets/img/content/iPhoneHomescreen~dark.png 1x,
				/assets/img/content/iPhoneHomescreen~dark@2x.png 2x"
		alt="A screenshot of my iOS Homescreen layout showcasing a grid of my most used apps."
		loading="lazy"
		class="u--m-bottom"
		width="375"
		height="812">
	</picture>
	<figcaption class="text-col t--center u--m-bottom--huge">Much like my desktop, my phone usually remains simple and distraction free. I keep dopaminergic apps hidden away in the app drawer. Out of sight, out of mind.</figcaption>
  </figure>
</section>