<footer class="page-footer" role="contentinfo">
  <div class="wrapper">
    <ul class="footer-links  nav  nav--block  t--center">
      <li class="footer-links__item"><a href="http://twitter.com/mr_stezz" title="Follow me on Twitter, @Mr_Stezz." class="footer-links__link  social"><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
      <li class="footer-links__item"><a href="http://instagram.com/stez_photos" title="View my mobile photography on Instagram." class="footer-links__link  social"><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
      <li class="footer-links__item"><a href="https://github.com/mr-stezz" title="See what I'm comitting over on Github." class="footer-links__link  social"><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg></a></li>
      <li class="footer-links__item"><a href="https://uk.linkedin.com/in/stezycki" title="Have a look at my previous achievements and work/academic portfolio" class="footer-links__link  social"><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg></a></li>
      <li class="footer-links__item"><a href="http://dribbble.com/mr_stezz" title="Have a look at my latest work-in-progress on Dribbble." class="footer-links__link  social"><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dribbble"></use></svg></a></li>
      <li class="footer-links__item"><a href="#js-top-of-page" title="Return to the top of the page." class="footer-links__link  top-page-link" data-scroll><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#caret-up"></use></svg></a></li>
    </ul>
  </div>
</footer>
