<form id="js-form" class="form" action="https://formspree.io/email@domain.tld" method="POST">
  <fieldset class="formgroup">
    <legend class="visually-hidden">Contact form</legend>
    <div class="formfield">
      <span class="label">To:</span>
      <span id="js-reciever" class="reciever">ahoy@stezycki.com</span>
    </div>
    <div class="formfield">
      <label class="label" for="_subject">Subject:</label>
      <input type="text" name="_subject" id="_subject">
    </div>
    <div class="formfield">
      <label class="label" for="_replyto">From<span class="visually-hidden">&nbsp;✱</span>:</label>
      <input type="email" name="_replyto" id="_replyto" required="">
    </div>
    <div class="formfield  formfield--full">
      <label class="label visually-hidden" for="_message">Your message<span class="visually-hidden">&nbsp;✱</span>:</label>
      <textarea name="_message" class="textarea" required=""></textarea>
      <input type="text" name="_gotcha" style="display:none" aria-hidden="true">
      <button type="submit" class="submit"><span class="submit__label">Send email</span><svg class="submit__icon" width="19px" height="14px" aria-hidden="true" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#submit"></use></svg></button>
    </div>
  </fieldset>
</form>
