<form id="js-form" class="form" method="POST" action="//formspree.io/ahoy@stezycki.com">
  <input type="hidden" name="_subject" value="Contact Form">
  <ul class="formgroup">
    <li class="formfield">
      <span class="label">To:</span>
      <span id="js-reciever" class="reciever">ahoy@stezycki.com</span>
    </li>
    <li class="formfield">
      <label class="label" for="subject">Subject:</label>
      <input type="text" name="subject" id="subject" placeholder="What is your message about?">
    </li>
    <li class="formfield">
      <label class="label" for="_replyto">From:</label>
      <input type="email" name="_replyto" id="_replyto" placeholder="your email ✱" required="">
    </li>
    <li class="formfield  formfield--full">
      <textarea name="message" placeholder="Your message&hellip; ✱" class="textarea" required=""></textarea>
      <input type="text" name="_gotcha" style="display:none">
      <button type="submit" class="submit"><svg class="submit__icon" width="19px" height="14px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#submit"></use></svg></button>
    </li>
  </ul>
</form>