<footer class="page-footer" role="contentinfo">
  <nav class="wrapper">
    <a href="https://twitter.com/mr_stezz" title="Follow me on Twitter, @Mr_Stezz." class="nav-link"><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a>
    <a href="https://unsplash.com/@stez" title="Download my photography for free on Unsplash." class="nav-link"><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#unsplash"></use></svg></a>
    <a href="https://codepen.io/mr-stezz/" title="Have a look at my code scrapbook on Codepen." class="nav-link"><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#codepen"></use></svg></a>
    <a href="#js-top-of-page" title="Return to the top of the page." class="nav-link nav-link-top" data-scroll><svg class="icon  icon--medium"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#caret-up"></use></svg></a>
  </nav>
</footer>