<section class="page-masthead  page-masthead--cover">
  <div id="slider">
    <img data-src="/assets/img/content/IMG_0197_8_9_Tonemapped.jpg" data-src-2x="/assets/img/content/IMG_0197_8_9_Tonemapped.jpg">
    <img data-src="/assets/img/content/IMG_9713_4_5_tonemapped.jpg" data-src-2x="/assets/img/content/IMG_9713_4_5_tonemapped.jpg">
    <img data-src="/assets/img/content/13414698264_208afe7111_o.jpg" data-src-2x="/assets/img/content/13414698264_208afe7111_o.jpg">
    <img data-src="/assets/img/content/13690167575_92414ba57f_o.jpg" data-src-2x="/assets/img/content/13690167575_92414ba57f_o.jpg">
    <img data-src="/assets/img/content/12902312024_5efe785016_o.jpg" data-src-2x="/assets/img/content/12902312024_5efe785016_o.jpg">
    <img data-src="/assets/img/content/13151617114_8a79fbce4b_o.jpg" data-src-2x="/assets/img/content/13151617114_8a79fbce4b_o.jpg">
    <img data-src="/assets/img/content/IMG_0587_8_9_tonemapped.jpg" data-src-2x="/assets/img/content/IMG_0587_8_9_tonemapped.jpg">
    <img data-src="/assets/img/content/IMG_0704_5_tonemapped.jpg" data-src-2x="/assets/img/content/IMG_0704_5_tonemapped.jpg">
    <img data-src="/assets/img/content/12885993485_c70de306e3_o.jpg" data-src-2x="/assets/img/content/12885993485_c70de306e3_o.jpg">
    <img data-src="/assets/img/content/12885948794_fa78d322da_o.jpg" data-src-2x="/assets/img/content/12885948794_fa78d322da_o.jpg">
    <img data-src="/assets/img/content/12877003413_3a83fce480_o.jpg" data-src-2x="/assets/img/content/12877003413_3a83fce480_o.jpg">
  </div>
  <a href="#js-top-of-page" title="Head down to the content." class="page-masthead__link" data-scroll>
    <i class="icon  icon--medium  icon--down-arrow  animation--up"></i>
  </a>
</section>