<footer class="page-footer" role="contentinfo">
  <div class="wrapper">
    <ul class="footer-links  nav  nav--block  t--center">
      <li class="footer-links__item"><a href="http://twitter.com/mr_stezz" title="Follow me on Twitter, @Mr_Stezz." class="footer-links__link  social  social--twitter"><i class="icon  icon--medium  icon--twitter" aria-hidden="true"></i></a></li>
      <li class="footer-links__item"><a href="http://stezz.vsco.co" title="View my iPhone photos on Vsco Grid." class="footer-links__link  social  social--vsco"><i class="icon  icon--medium  icon--vsco" aria-hidden="true"></i></a></li>
      <li class="footer-links__item"><a href="http://flickr.com/photos/mikestezy" title="View my public photos on Flickr." class="footer-links__link  social  social--flickr"><i class="icon  icon--medium  icon--flickr" aria-hidden="true"></i></a></li>
      <li class="footer-links__item"><a href="http://rdio.com/people/mr_stezz" title="See what I'm currently jamming to on Rdio." class="footer-links__link  social  social--rdio"><i class="icon  icon--medium  icon--rdio" aria-hidden="true"></i></a></li>
      <li class="footer-links__item"><a href="http://dribbble.com/mr_stezz" title="Have a look at my latest work-in-progress on Dribbble." class="footer-links__link  social  social--dribbble"><i class="icon  icon--medium  icon--dribbble" aria-hidden="true"></i></a></li>
      <li class="footer-links__item"><a href="#js-top-of-page" title="Return to the top of the page." class="footer-links__link  top-page-link" data-scroll><i class="icon  icon--medium  icon--up-arrow"></i></a></li>
    </ul>
    <p class="t--center"><small>&copy; {{ site.time | date: '%Y' }}. Some rights reserved.</small></p>
  </div>
</footer>
