<header id="js-top-of-page" class="page-header">
  <nav class="wrapper" role="navigation">
    <a class="page-logo" href="/" title="Go back home.">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ site.title }}" style="">
    </a>
    <ul class="nav-menu  nav">
      <li class="nav-menu__item"><a href="/" class="nav-menu__link{% if page.url == node.url %}  nav-menu__link--active{% endif %}" title="The latest and greatest.">Work</a></li>
      <li class="nav-menu__item"><a href="/about" class="nav-menu__link{% if page.url == node.url %}  nav-menu__link--active{% endif %}" title="So who am I anyway?">About</a></li>
      <li class="nav-menu__item"><a href="https://medium.com/@mr_stezz" class="nav-menu__link{% if page.url == node.url %}  nav-menu__link--active{% endif %}" title="Find my ideas, musings and general fluffery over on Medium.">Blog</a></li>
    </ul>
  </nav>
</header>
