<header class="page-header">
  <nav class="wrapper" aria-label="Site navigation">
    <a href="/" class="nav-logo"><h1 class="nav-title"><!-- <span class="nav-glyph">𝕾</span> --><span class="nav-title--hidden-1" aria-hidden="true">Stez</span><span class="nav-title--hidden-2">Mike <span title="[ste-zee-key]">Stezycki</span></span><span class="nav-title--hidden-3">, <span title="[dih-zahy-ner]&#013;noun&#013;1.&#009;a person who devises or executes designs, especially one who creates forms, structures, and patterns, as for works of art or machines.&#013;2.&#009;a schemer, intriguer, or plotter.">designer</span></span></h1></a>
    {% assign pages_list = site.pages %}
    {% assign group = 'navigation' %}
    {% include _structure.page_list.html %}
<!-- <a href="https://stez-photos.netlify.app/" class="nav-link" title="A photostream of stuff" target="_blank" rel="noreferrer" aria-label="Photos (Opens in new tab)">Photos</a> -->
    <label for="toggle-checkbox" class="nav-link toggle-label" title="Send me an email" role="button" tabindex="0">Contact</label>
    <input type="checkbox" id="toggle-checkbox" name="toggle-checkbox" class="toggle-checkbox" aria-hidden="true">
    {% include _structure.contact-form.html %}
  </nav>
</header>
