/**
 * $ANIMATION
 */
.slide-up,
.top-page-link:hover {
  -webkit-animation: slide-up 2s infinite;
  -moz-animation: slide-up 2s infinite;
  -ms-animation: slide-up 2s infinite;
  -o-animation: slide-up 2s infinite;
  animation: slide-up 2s infinite;
}
@-webkit-keyframes slide-up {
  40% {
    -webkit-transform: translate3d(0, -50%, 0) scale(0.9) rotateX(-20deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate3d(0, 0, 0) scale 1 rotateX(0);
  }
  50% {
    -webkit-transform: translate3d(0, 50%, 0) scale(0.9) rotateX(10deg);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  40% {
    transform: translate3d(0, -50%, 0) scale(0.9) rotateX(-20deg);
    opacity: 0;
  }
  45% {
    transform: translate3d(0, 0, 0) scale 1 rotateX(0);
  }
  50% {
    transform: translate3d(0, 50%, 0) scale(0.9) rotateX(10deg);
    opacity: 0;
  }
  70% {
    transform: translate3d(0, 0, 0) scale(1) rotateX(0);
    opacity: 1;
  }
}

.slide-down {
  -webkit-animation: slide-down 3s 0.3s infinite;
  -moz-animation: slide-down 3s 0.3s infinite;
  -ms-animation: slide-down 3s 0.3s infinite;
  -o-animation: slide-down 3s 0.3s infinite;
  animation: slide-down 3s 0.3s infinite;
}
@-webkit-keyframes slide-down {
  40% {
    -webkit-transform: translate3d(0, 100%, 0) scale(0.9) rotateX(20deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate3d(0, 0, 0) scale 1 rotateX(0);
  }
  50% {
    -webkit-transform: translate3d(0, -100%, 0) scale(0.9) rotateX(-20deg);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  40% {
    transform: translate3d(0, 100%, 0) scale(0.9) rotateX(20deg);
    opacity: 0;
  }
  45% {
    transform: translate3d(0, 0, 0) scale 1 rotateX(0);
  }
  50% {
    transform: translate3d(0, -100%, 0) scale(0.9) rotateX(-20deg);
    opacity: 0;
  }
  70% {
    transform: translate3d(0, 0, 0) scale(1) rotateX(0);
    opacity: 1;
  }
}

.bounce-and-shake {
  -webkit-animation: bounce-and-shake 300ms ease-out;
  -moz-animation: bounce-and-shake 300ms ease-out;
  -ms-animation: bounce-and-shake 300ms ease-out;
  -o-animation: bounce-and-shake 300ms ease-out;
  animation: bounce-and-shake 300ms ease-out;
}
@-webkit-keyframes bounce-and-shake {
  15%,
  40%,
  75%,
  100% {
    -webkit-transform-origin: center center;
  }
  15% {
    -webkit-transform: scale(1.4, 1.2);
  }
  40% {
    -webkit-transform: scale(0.9, 0.9);
  }
  75% {
    -webkit-transform: scale(1.08, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@keyframes bounce-and-shake {
  15%,
  40%,
  75%,
  100% {
    transform-origin: center center;
  }
  15% {
    transform: scale(1.4, 1.2);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  75% {
    transform: scale(1.08, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}