/**
 * $EMOJI-CURSORS
 */
.emoji-cursor-hi {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👋</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-house {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>🏡</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-union-jack {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>🇬🇧</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-man-technologist {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👨‍💻</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-spanner {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>🔧</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-credit-card {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>💳</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-pointing-up {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👆</text></svg>")
      16 0,
    auto !important;
}
.emoji-cursor-eyes {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👀</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-work {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>💻📱</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-pointing-down {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👇</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-cup {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>🏆</text></svg>")
      16 0,
    auto;
}