/**
 * $FOOTER-LINKS
 */
.footer-links__link {
  transform: translateY(0) scale(1);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (prefers-reduced-motion: reduce) {
  .footer-links__link {
    transition: none !important;
  }
}
.no-motion .footer-links__link {
  transition: none !important;
}

.footer-links__link:hover {
  transform: translateY(0.12) scale(1.25);
}
.footer-links__link:visited {
  fill: var(--graphite);
}