/**
 * $VARS
 */
:root {
  --white:               #ffffff;
  --off-white:           #F6F6F6;
  --off-white-82:        rgba(246, 246, 246, 0.82);
  --light-grey:          #d7d9dd;
  --dark-grey:           #7e7e7e;
  --graphite:            #79828d;
  --graphite-30:         rgba(121, 130, 141, 0.3);
  --coal:                #292929;
  --coal-82:             rgba(41, 41, 41, 0.82);
  --oil:                 #1e1e1e;
  --error:               #f5002c;
  --success:             #00d032;
  --warning:             #ffe600;

  --azure-blue:          #007aff;
  --azure-blue-30:       rgba(0, 122, 255, 0.5);
  --sky-blue:            #5ac8fa;
  --sky-blue-30:         rgba(212, 242, 255, 0.16);

  --panel-shadows:       0px 2px 25px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.2);

  /* $SPACING SCALE */
  --tiny-spacing:        6px;
  --small-spacing:       12px;
  --base-spacing:        24px;
  --large-spacing:       48px;
  --huge-spacing:        96px;

  /* $TIMING SCALES */
  --transition:          300ms cubic-bezier(0.27, 0.175, 0.285, 1.01);
  --pop-transition:      0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0.05s;
  --slide-up-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --tabs-transition:     0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}