/**
 * $VISUALLY-HIDDEN
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
@media (min-width: 501px) {
  .visually-hidden--for-mobile {
    border: initial;
    clip: initial;
    height: initial;
    margin: initial;
    overflow: initial;
    padding: initial;
    position: initial;
    width: initial;
    white-space: initial;
  }
}