@charset "UTF-8";

/**
 * $VARS
 */
:root {
  --white:               #ffffff;
  --off-white:           #F6F6F6;
  --off-white-82:        rgba(246, 246, 246, 0.82);
  --light-grey:          #d7d9dd;
  --dark-grey:           #7e7e7e;
  --graphite:            #79828d;
  --graphite-50:         rgba(121, 130, 141, 0.5);
  --graphite-30:         rgba(121, 130, 141, 0.3);
  --coal:                #292929;
  --coal-82:             rgba(41, 41, 41, 0.82);
  --oil:                 #1e1e1e;
  --error:               #f5002c;
  --success:             #00d032;
  --warning:             #ffe600;

  --azure-blue:          #007aff;
  --azure-blue-30:       rgba(0, 122, 255, 0.5);
  --sky-blue:            #5ac8fa;
  --sky-blue-30:         rgba(212, 242, 255, 0.16);

  --panel-shadows:       0px 2px 25px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.2);

  /* $SPACING SCALE */
  --tiny-spacing:        6px;
  --small-spacing:       12px;
  --base-spacing:        24px;
  --large-spacing:       48px;
  --huge-spacing:        96px;

  /* $TIMING SCALES */
  --transition:          300ms cubic-bezier(0.27, 0.175, 0.285, 1.01);
  --pop-transition:      0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0.05s;
  --slide-up-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --tabs-transition:     0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/**
 * $RESET
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*! normalize-opentype.css v0.2.4 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
 * 1. Inherit style issues with custom selections, per robsterlini.co.uk/journal/opentype-and-selection-dont-mix
 * 2. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
 *    Turn off all other ligatures, tabular, lining numerals, and alternates
      Uses same settings for tables
 * 3. Hard-codes fallback text selection for issue #18, color is Chrome’s per via http://stackoverflow.com/a/16094931/864799
 */
::-moz-selection {
  color: inherit;
  /* 1. */
  text-shadow: inherit;
  /* 2. */
  background-color: #accef7;
  /* 3. */
}
::selection {
  color: inherit;
  /* 1. */
  text-shadow: inherit;
  /* 2. */
  background-color: #accef7;
  /* 3. */
}

html,
body,
table {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1,
    "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */
}

/* Headings
========================================================================== */
/**
 * 1. Turn on discretionary ligatures for larger headings
 */
h1,
h2,
h3 {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1,
    "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */
}

/* Text-level semantics
========================================================================== */
/**
 * 1. Change all letters to uppercase
 * 2. Turn on small caps for upper and lowercase letters
 */
abbr {
  text-transform: uppercase;
  /* 1 */
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1,
    "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */
}

/*
 * TODO: Turn on diagonal fractions where appropriate
 */
time {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1,
    "tnum" 0, "onum" 1, "lnum" 0;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0;
}

/*
 * 1. Turn off kerning and ligatures,
 *    Turn on lining, tabular numerals, slashed zero
 */
pre,
kbd,
samp,
code {
  -webkit-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0,
    "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  -moz-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0,
    "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0,
    "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}

/**
 * 1. Turn on proper supercript numerals
 */
sup {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1,
    "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */
}

/**
 * 1. Turn on proper subscript numerals
 */
sub {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1,
    "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */
}

/* Grouping content
========================================================================== */
/**
 * TODO: Adds proper bullets
 */
/*
 * TODO:
 * 1. Adds counters for lists
 * 2. Use proper numerals for lists
 */
/**
 * Adds proper small caps
 */
/**
 * TODO: scmp, sc2c, pnum, case sensitive forms for postal codes
 */
/* Forms
========================================================================== */
/**
 * 1. Turns on lining, proportional numerals without clarified zeroes
 * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
 */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  -webkit-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1,
    "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  -moz-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 0, "lnum" 1, "zero" 0;
  font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */
}

/* Localisation
========================================================================== */
/* Tables
========================================================================== */
/**
 * 1. Turns on tabular, lining numerals and slashed zero
 */
tbody,
caption {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0,
    "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1,
    "onum" 0, "lnum" 1, "zero" 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1,
    "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}

/**
 * $SHARED
 */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
  margin-bottom: var(--base-spacing);
}

ol:not([class]),
ul:not([class]),
dt:not([class]) {
  margin-left: var(--base-spacing);
}

/**
 * $TYPEFACE
 */
/* Neue Haas Unica */
@font-face {
  font-display: swap;
  font-family: "Neue Haas Unica";
  src: url(../fonts/neue-haas-unica/neue-haas-unica-light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Neue Haas Unica";
  src: url(../fonts/neue-haas-unica/neue-haas-unica-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Neue Haas Unica";
  src: url(../fonts/neue-haas-unica/neue-haas-unica-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
/**
 * FontFaceObserve will apply a class on the html when
 * the webfonts are ready:
 * http://www.filamentgroup.com/lab/font-events.html
 */
.fonts-loaded {
  font-family: "Neue Haas Unica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.fonts-loaded h1,
.fonts-loaded h2,
.fonts-loaded h3,
.fonts-loaded h4 {
  font-family: "Neue Haas Unica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.fonts-loaded h5,
.fonts-loaded h6 {
  font-family: "Neue Haas Unica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.fonts-loaded figcaption {
  font-family: "Neue Haas Unica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.fonts-loaded .page-title {
  font-family: "Neue Haas Unica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.fonts-loaded .page-subtitle {
  font-family: "Neue Haas Unica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/**
 * $HEADINGS
 */
.heading {
  display: block;
  margin-bottom: var(--base-spacing);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--coal);
}
@media (prefers-color-scheme: dark) {
  .heading {
    color: var(--light-grey);
  }
}
.night .heading {
  color: var(--light-grey);
}

.heading--light {
  font-weight: 200;
  color: #fdfdfd;
}
@media (prefers-color-scheme: dark) {
  .heading--light {
    color: var(--light-grey);
  }
}
.night .heading--light {
  color: var(--light-grey);
}

h5.heading,
h6.heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.tera {
  font-size: 56px;
  font-size: 3.5rem;
  line-height: 1.28571;
}

.giga {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
}

.mega {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.2;
}

.kilo,
blockquote p {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
}

.alpha {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
}

.beta {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

.gamma {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.09091;
}

.delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

.epsilon {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
}

.zeta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.tera,
.giga,
.mega,
.kilo,
blockquote p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h5,
h6 {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

h6 {
  font-style: italic;
}

/**
 * $PAGE-TITLE
 */
.page-title {
  font-weight: 500;
  font-size: 1.125rem;
  font-size: 18px;
  color: var(--coal);
}
@media (prefers-color-scheme: dark) {
  .page-title {
    color: var(--light-grey);
  }
}
.night .page-title {
  color: var(--light-grey);
}

/**
 * $PAGE-SUBTITLE
 */
.page-subtitle {
  font-size: 1rem;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--coal);
}
@media (prefers-color-scheme: dark) {
  .page-subtitle {
    color: var(--light-grey);
  }
}
.night .page-subtitle {
  color: var(--light-grey);
}

/**
 * $PARAGRAPHS
 */
.lede {
  font-size: 1.125em;
  line-height: 1.5555555555555556;
}

/**
 * $TEXT-STYLES
 */
.no-spacing {
  margin-bottom: 0;
}

.t--light {
  font-weight: 200;
  color: #fdfdfd;
}

.t--block {
  display: block;
}
.t--inline {
  display: inline;
}
.t--inline-block {
  display: inline-block;
}
.t--center {
  text-align: center;
}
.t--right {
  text-align: right;
}
.t--left {
  text-align: left;
}

.t--lowercase {
  text-transform: lowercase;
}
.t--uppercase {
  padding-left: 0.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.t--smallcaps,
attr[title] {
  padding-left: 0.15em;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 0.15em;
}

.w--300 {
  font-weight: 300;
}
.w--400 {
  font-weight: 400;
}
.w--800 {
  font-weight: 800;
}

.w--break {
  word-wrap: break-word;
}
.w--wrap {
  word-wrap: normal;
}

/**
 * $TEXT-COLS
 */
.text-col,
.text-col--2,
.text-col--3,
.text-col--4 {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}

.text-col--2,
.text-col--3,
.text-col--4 {
  margin-bottom: var(--base-spacing);
}
@media screen and (min-width: 915px) {
  .text-col--2,
  .text-col--3,
  .text-col--4 {
    max-width: none;
    margin-right: none;
    margin-left: none;
    padding-right: 192px;
    padding-left: 192px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    column-count: 2;
    column-gap: var(--base-spacing);
  }
}

@media screen and (min-width: 923px) {
  .text-col--3,
  .text-col--4 {
    padding-right: var(--huge-spacing);
    padding-left: var(--huge-spacing);
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.84615;
    column-count: 3;
  }
}

@media screen and (min-width: 923px) {
  .text-col--4 {
    padding-right: var(--large-spacing);
    padding-left: var(--large-spacing);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
    column-count: 4;
  }
}

/**
 * $LINKS
 */
a {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: var(--coal);
  fill: var(--coal);
}
a:hover,
a:active {
  outline: 0;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: var(--graphite);
  fill: var(--graphite);
}
@media (prefers-color-scheme: dark) {
  a {
    color: var(--light-grey);
    fill: var(--light-grey);
  }
}
.night a {
  color: var(--light-grey);
  fill: var(--light-grey);
}

/**
 * $EXTERNAL-LINKS
 */
a[href*="//"]::after
{
  content: " ↗";
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  position: relative;
  top: 0;
  right: 0;
  color: var(--azure-blue);
  transition: var(--transition);
}

@media (prefers-color-scheme: dark) {
  a[href*="//"]::after
  {
    color: var(--sky-blue);
  }
}
.night a[href*="//"]::after
{
  color: var(--sky-blue);
}

a:visited[href*="//"]::after
{
  color: var(--graphite-50);
}
@media (prefers-color-scheme: dark) {
  a:visited[href*="//"]::after
  {
    color: var(--white);
  }
}
.night a:visited[href*="//"]::after
{
  color: var(--white);
}

a:hover[href*="//"]::after
{
  top: -0.1em;
  right: -0.1em;
  opacity: 0.3;
}

/**
 * $SKIP-LINKS
 */
.skip-link:active,
.skip-link:focus {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  overflow: auto;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1.2em;
  background-color: var(--off-white);
  z-index: 999;
}
@media (prefers-color-scheme: dark) {
  .skip-link:active,
  .skip-link:focus {
    background-color: var(--mineshaft);
  }
}
.night .skip-link:active,
.night .skip-link:focus {
  background-color: var(--mineshaft);
}

.skip-link {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

/**
 * $PERMALINKS
 */
.subtitle-link {
  opacity: 0;
  text-decoration: none;
  transition: opacity var(--transition);
}

a.subtitle-link {
  font-style: normal;
  font-weight: normal;
}

@media screen and (prefers-reduced-motion: reduce) {
  .subtitle-link { transition: none !important }
}
.heading:hover .subtitle-link { opacity: 1 }

.subtitle-link              { color: var(--azure-blue-30) }
.subtitle-link:hover        { color: var(--azure-blue) }
@media (prefers-color-scheme: dark) {
  .subtitle-link            { color: var(--sky-blue-30) }
  .subtitle-link:hover      { color: var(--sky-blue) }
}
.night .subtitle-link       { color: var(--sky-blue-30) }
.night .subtitle-link:hover { color: var(--sky-blue) }

/**
 * $PAGE
 */
@-ms-viewport {
  width: device-width;

  @media screen and (max-width: 400px) {
    @-ms-viewport {
      width: 400px;
    }
  }
}
@viewport {
  width: device-width;
}

html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings: "liga=1,kern=1";
  -moz-font-feature-settings: "liga", "kern";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  -ms-font-feature-settings: "liga", "kern";
  -o-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
}

@media screen and (min-width: 0px) and (max-width: 249px) {
  html {
    font-size: 75%;
  }
}
@media screen and (min-width: 250px) and (max-width: 319px) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 468px) {
  html {
    font-size: 112.5%;
    line-height: 1.75;
  }
}
/* @media screen and (min-width: 982px) {
html { font-size: 120% }} */

body {
  color: var(--coal);
  background-color: #f6f6f6;
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right)
    constant(safe-area-inset-bottom) constant(safe-area-inset-left);
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--light-grey);
    background-color: var(--coal);
  }
}
.night {
  color: var(--light-grey);
  background-color: var(--coal);
}

::selection {
  background-color: var(--graphite-50);
  text-shadow: none;
}
:focus {
  outline: 4px dotted currentColor;
  /*outline-color: rgb(153, 153, 158);
  outline-style: auto;
  outline-width: 5px*/
}

/**
 * $PAGE-CONTENT
 */
.page-header ~ .page-content {
  padding-top: 151px;
}

/**
 * $WRAPPER
 */
.wrapper {
  max-width: 63em;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--base-spacing);
  padding-left: var(--base-spacing);
  position: relative;
}
@supports (padding: max(0px)) {
  .wrapper {
    padding-right: max(24px, env(safe-area-inset-right));
    padding-left: max(24px, env(safe-area-inset-left));
  }
}

/**
 * $PAGE-HEADER
 */
.page-header {
  width: 100%;
  overflow: visible;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: var(--off-white);
}

@supports (backdrop-filter: saturate(180%) blur(20px)) {
  .page-header {
    background: var(--off-white-82);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
@media (prefers-color-scheme: dark) {
  .page-header {
    background: var(--coal);
  }
}
.night .page-header {
  background: var(--coal);
}
@supports (backdrop-filter: saturate(180%) blur(20px)) {
  @media (prefers-color-scheme: dark) {
    .page-header {
      background: var(--coal-82);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
    }
  }
  .night .page-header {
    background: var(--coal-82);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

.page-header--absolute { background-color: transparent }
.page-header--pinned   { background-color: transparent }
@media screen and (max-width: 692px) {
  .page-header--pinned {
    background-color: var(--off-white-82);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

.page-header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.4375rem;
  height: 55px;
}

/**
 * $NAV-LOGO
 */
.nav-logo {
  flex: 0 1 auto;
  align-self: center;
  margin-right: auto;
  font-size: 15px;
  line-height: 1
}

a.nav-logo {
  font-style: normal
}

a.nav-logo,
a:visited.nav-logo {
  color: var(--coal)
}
@media(prefers-color-scheme: dark) {
  a.nav-logo,
  a:visited.nav-logo {
    color: var(--light-grey);
  }
}
.night a.nav-logo,
.night a:visited.nav-logo {
  color: var(--light-grey);
}

.nav-title {
  margin-bottom: 0;
  font-size: inherit;
  font-weight: normal
}

.nav-glyph:after {
  content: " · ";
}

/* Shorten the nav title */
@media (min-width: 459px) {
  .nav-title--hidden-1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}
.nav-title--hidden-2,
.nav-title--hidden-3 {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
@media (min-width: 459px) {
  .nav-title--hidden-2 {
    border: initial;
    clip: initial;
    height: initial;
    margin: initial;
    overflow: initial;
    padding: initial;
    position: initial;
    width: initial;
    white-space: initial;
  }
}

@media (min-width: 527px) {
  .nav-title--hidden-3 {
    border: initial;
    clip: initial;
    height: initial;
    margin: initial;
    overflow: initial;
    padding: initial;
    position: initial;
    width: initial;
    white-space: initial;
  }
}

/**
 * $NAV-LINKS
 */
.nav-link {
  position: relative;
  flex: 0 0 auto;
  font-size: 15px;
  line-height: 1;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
    "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: var(--blue--light);
}

a.nav-link {
  font-weight: normal;
  font-style: normal;
}

/*a.nav-link[href*="//"]:after
{
  content: "";
}*/

@supports (font-feature-settings: "smcp" 1) {
  .nav-link {
    letter-spacing: 0.1em;
  }
}
@media (prefers-color-scheme: dark) {
  .nav-link {
    fill: var(--blue--dark);
  }
}
.night .nav-link {
  fill: var(--blue--dark);
}

.nav-link:not(:first-of-type),
.nav-link.toggle-label {
  margin-left: 0.75em;
}
@media (min-width: 400px) {
  .nav-link:not(:first-of-type),
  .nav-link.toggle-label {
    margin-left: 1.5em;
  }
}

.nav-link.toggle-label {
  font-weight: normal;
  font-style: normal;
}

/* NEW badge */
.nav-link.new:after {
  content: "New";
  position: absolute;
  top:   0;
  right: 0;
  margin-top:   -2px;
  margin-right: -12px;
  padding: 3px;
  padding-top: 0;
  font-size: 10px;
  font-weight: bold;
  color: var(--white);
  background: var(--error);
  border-radius: 3px;
  transform: rotate(4deg);
}

/**
 * $PAGE-FOOTER
 */
.page-footer {
  padding-top:    var(--large-spacing);
  padding-bottom: var(--large-spacing);
}

.page-footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.nav-link-top {
  flex: 0 0 auto;
  /*margin-left: auto !important*/
}

/**
 * $FOOTER-LINKS
 */
.footer-links__link {
  transform: translateY(0) scale(1);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (prefers-reduced-motion: reduce) {
  .footer-links__link {
    transition: none !important;
  }
}
.no-motion .footer-links__link {
  transition: none !important;
}

.footer-links__link:hover {
  transform: translateY(0.12) scale(1.25);
}
.footer-links__link:visited {
  fill: var(--graphite);
}

/**
 * $ABBREVIATIONS & DEFINITIONS
 */
abbr,
abbr[title],
dfn,
dfn[title] {
  font-style: normal;
  text-decoration-color: #8a8a8a;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.0625em;
  text-decoration-skip-ink: auto;
}
@media (prefers-color-scheme: dark) {
  abbr,
  abbr[title],
  dfn,
  dfn[title] {
    text-decoration-color: #a9a9a9;
  }
}
.night abbr,
.night abbr[title],
.night dfn,
.night dfn[title] {
  text-decoration-color: #a9a9a9;
}

abbr[title],
dfn[title] {
  cursor: help;
}

/**
 * $ABBREVIATIONS
 */
abbr,
abbr[title] {
  /*text-decoration: none !important;
  background-image: url("../img/ui/marked.png");
  background-position: 0 calc(100% - 1.5px);
  background-size: auto 3px;
  background-repeat: repeat-x*/
}

/**
 * $DEFINITIONS
 */
dfn,
dfn[title] {
}

/**
 * $QUOTES
 */
q {
  quotes: "‘" "’" "\\201C""\\201D";
}
q:before {
  content: "\2018";
  content: open-quote;
}
q:after {
  content: "\2019";
  content: close-quote;
}
q q:before {
  content: "\201C";
  content: open-quote;
}
q q:after {
  content: "\201D";
  content: close-quote;
}

blockquote {
  quotes: "\\201C""\\201D";
}
blockquote p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
blockquote p:before {
  content: "\\201C";
  content: open-quote;
}
blockquote p:after {
  content: "";
  content: no-close-quote;
}
blockquote p:last-of-type:after {
  content: "\\201D";
  content: close-quote;
}
blockquote q:before {
  content: "\2018";
  content: open-quote;
}
blockquote q:after {
  content: "\2019";
  content: close-quote;
}

blockquote {
  /**
   * .4em is roughly equal to the width of the opening “ that we wish to hang.
   */
  text-indent: -0.41em;
  font-weight: 400;
  text-align: center;
}

blockquote > p:last-of-type {
  margin-bottom: 0;
}

.source {
  display: block;
  text-indent: 0;
}
.source:before {
  content: "\2014";
}

/**
 * $HORIZONTAL-RULES
 */
.rule {
  margin-bottom: 23px;
  margin-bottom: 1.4375rem;
  color: var(--dark-grey);
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.rule--ornament {
  position: relative;
}
.rule--ornament:after {
  content: "\00A7";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 0;
  text-align: center;
}
.rule--ornament[data-ornament] {
  border-color: transparent;
}
.rule--ornament[data-ornament]:after {
  content: attr(data-ornament);
  letter-spacing: 0.75em;
}

.rule--stump {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  color: #07399b;
  border-bottom-width: 2px;
}

/**
 * $ICONS
 */
.icon {
  display: inline-block;
  vertical-align: middle;
  width:  1em;
  height: 1em;
  position: relative;
  top: -0.0625em;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  pointer-events: none;
}

.icon-mini {
  font-size: 0.5em;
}
.icon-small {
  font-size: 0.75em;
}
.icon--medium {
  font-size: 1.5em;
}
.icon--large {
  font-size: 2em;
}
.icon--huge {
  font-size: 4em;
}
.icon--natural {
  font-size: inherit;
}

.icon-fill--natural {
  fill: currentColor;
}

/**
 * $IMAGES
 */
img {
  font-style: italic;
}

/**
 * $FIGURES
 */
figure {
  position: relative;
  margin-right: -var(--base-spacing);
  margin-left: -var(--base-spacing);
  margin-bottom: var(--base-spacing);
}

figure > img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.75em;
}

figcaption {
  box-sizing: content-box;
  padding-right: var(--base-spacing);
  padding-left: var(--base-spacing);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 87.5%;
  text-align: center;
  color: var(--coal);
}
@media (prefers-color-scheme: dark) {
  figcaption {
    color: var(--light-grey);
  }
}

/**
 * $GALLERY
 */
.gallery {
  margin-bottom: var(--base-spacing);
}
.gallery--flush {
  margin-right: -var(--base-spacing);
  margin-left: -var(--base-spacing);
}

.gallery > img {
  display: block;
  margin-bottom: 0.125em;
}

.gallery--two-up > img,
.gallery--three-up > img,
.gallery--four-up > img {
  float: left;
  padding-right: 0.125em;
}

.gallery--two-up > img {
  width: 50%;
}
.gallery--three-up > img:first-of-type {
  width: 100%;
}
.gallery--three-up > img {
  width: 50%;
}
.gallery--four-up > img {
  width: 50%;
}

/**
 * $SPACING
 */
/**
 * Push out elements
 */
.u--m-all           { margin: var(--base-spacing) }
.u--m-all--tiny     { margin: var(--tiny-spacing) }
.u--m-all--small    { margin: var(--small-spacing) }
.u--m-all--large    { margin: var(--large-spacing) }
.u--m-all--huge     { margin: var(--huge-spacing) }

.u--m-top           { margin-top: var(--base-spacing) }
.u--m-top--tiny     { margin-top: var(--tiny-spacing) }
.u--m-top--small    { margin-top: var(--small-spacing) }
.u--m-top--large    { margin-top: var(--large-spacing) }
.u--m-top--huge     { margin-top: var(--huge-spacing) }

.u--m-right         { margin-right: var(--base-spacing) }
.u--m-right--tiny   { margin-right: var(--tiny-spacing) }
.u--m-right--small  { margin-right: var(--small-spacing) }
.u--m-right--large  { margin-right: var(--large-spacing) }
.u--m-right--huge   { margin-right: var(--huge-spacing) }

.u--m-bottom        { margin-bottom: var(--base-spacing)  !important }
.u--m-bottom--tiny  { margin-bottom: var(--tiny-spacing)  !important }
.u--m-bottom--small { margin-bottom: var(--small-spacing) !important }
.u--m-bottom--large { margin-bottom: var(--large-spacing) !important }
.u--m-bottom--huge  { margin-bottom: var(--huge-spacing)  !important }

.u--m-left          { margin-left: var(--base-spacing) }
.u--m-left--tiny    { margin-left: var(--tiny-spacing) }
.u--m-left--small   { margin-left: var(--small-spacing) }
.u--m-left--large   { margin-left: var(--large-spacing) }
.u--m-left--huge    { margin-left: var(--huge-spacing) }


/**
 * Pad out elements
 */
.u--p-all           { padding: var(--base-spacing) }
.u--p-all--tiny     { padding: var(--tiny-spacing) }
.u--p-all--small    { padding: var(--small-spacing) }
.u--p-all--large    { padding: var(--large-spacing) }
.u--p-all--huge     { padding: var(--huge-spacing) }

.u--p-top           { padding-top: var(--base-spacing) }
.u--p-top--tiny     { padding-top: var(--tiny-spacing) }
.u--p-top--small    { padding-top: var(--small-spacing) }
.u--p-top--large    { padding-top: var(--large-spacing) }
.u--p-top--huge     { padding-top: var(--huge-spacing) }

.u--p-right         { padding-right: var(--base-spacing) }
.u--p-right--tiny   { padding-right: var(--tiny-spacing) }
.u--p-right--small  { padding-right: var(--small-spacing) }
.u--p-right--large  { padding-right: var(--large-spacing) }
.u--p-right--huge   { padding-right: var(--huge-spacing) }

.u--p-bottom        { padding-bottom: var(--base-spacing) }
.u--p-bottom--tiny  { padding-bottom: var(--tiny-spacing) }
.u--p-bottom--small { padding-bottom: var(--small-spacing) }
.u--p-bottom--large { padding-bottom: var(--large-spacing) }
.u--p-bottom--huge  { padding-bottom: var(--huge-spacing) }

.u--p-left          { padding-left: var(--base-spacing) }
.u--p-left--tiny    { padding-left: var(--tiny-spacing) }
.u--p-left--small   { padding-left: var(--small-spacing) }
.u--p-left--large   { padding-left: var(--large-spacing) }
.u--p-left--huge    { padding-left: var(--huge-spacing) }

/**
 * $VISUALLY-HIDDEN
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
@media (min-width: 400px) {
  .visually-hidden--for-mobile {
    border: initial;
    clip: initial;
    height: initial;
    margin: initial;
    overflow: initial;
    padding: initial;
    position: initial;
    width: initial;
    white-space: initial;
  }
}

/**
 * $WORK LIST
 */
.work-list {
  list-style: none;
}
.work-list-item {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 0.75em;
}
.work-list-link {
  cursor: pointer;
  user-select: none;
}

/**
 * $ANIMATION
 */
.slide-up,
.top-page-link:hover {
  -webkit-animation: slide-up 2s infinite;
  -moz-animation: slide-up 2s infinite;
  -ms-animation: slide-up 2s infinite;
  -o-animation: slide-up 2s infinite;
  animation: slide-up 2s infinite;
}
@-webkit-keyframes slide-up {
  40% {
    -webkit-transform: translate3d(0, -50%, 0) scale(0.9) rotateX(-20deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate3d(0, 0, 0) scale 1 rotateX(0);
  }
  50% {
    -webkit-transform: translate3d(0, 50%, 0) scale(0.9) rotateX(10deg);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  40% {
    transform: translate3d(0, -50%, 0) scale(0.9) rotateX(-20deg);
    opacity: 0;
  }
  45% {
    transform: translate3d(0, 0, 0) scale 1 rotateX(0);
  }
  50% {
    transform: translate3d(0, 50%, 0) scale(0.9) rotateX(10deg);
    opacity: 0;
  }
  70% {
    transform: translate3d(0, 0, 0) scale(1) rotateX(0);
    opacity: 1;
  }
}

.slide-down {
  -webkit-animation: slide-down 3s 0.3s infinite;
  -moz-animation: slide-down 3s 0.3s infinite;
  -ms-animation: slide-down 3s 0.3s infinite;
  -o-animation: slide-down 3s 0.3s infinite;
  animation: slide-down 3s 0.3s infinite;
}
@-webkit-keyframes slide-down {
  40% {
    -webkit-transform: translate3d(0, 100%, 0) scale(0.9) rotateX(20deg);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate3d(0, 0, 0) scale 1 rotateX(0);
  }
  50% {
    -webkit-transform: translate3d(0, -100%, 0) scale(0.9) rotateX(-20deg);
    opacity: 0;
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  40% {
    transform: translate3d(0, 100%, 0) scale(0.9) rotateX(20deg);
    opacity: 0;
  }
  45% {
    transform: translate3d(0, 0, 0) scale 1 rotateX(0);
  }
  50% {
    transform: translate3d(0, -100%, 0) scale(0.9) rotateX(-20deg);
    opacity: 0;
  }
  70% {
    transform: translate3d(0, 0, 0) scale(1) rotateX(0);
    opacity: 1;
  }
}

.bounce-and-shake {
  -webkit-animation: bounce-and-shake 300ms ease-out;
  -moz-animation: bounce-and-shake 300ms ease-out;
  -ms-animation: bounce-and-shake 300ms ease-out;
  -o-animation: bounce-and-shake 300ms ease-out;
  animation: bounce-and-shake 300ms ease-out;
}
@-webkit-keyframes bounce-and-shake {
  15%,
  40%,
  75%,
  100% {
    -webkit-transform-origin: center center;
  }
  15% {
    -webkit-transform: scale(1.4, 1.2);
  }
  40% {
    -webkit-transform: scale(0.9, 0.9);
  }
  75% {
    -webkit-transform: scale(1.08, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@keyframes bounce-and-shake {
  15%,
  40%,
  75%,
  100% {
    transform-origin: center center;
  }
  15% {
    transform: scale(1.4, 1.2);
  }
  40% {
    transform: scale(0.9, 0.9);
  }
  75% {
    transform: scale(1.08, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/**
 * $CHECKBOX-FORM LABEL
 */
/* Label */
.toggle-label {
  /*color: var(--azure-blue);*/
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
  /*text-decoration: underline*/
}
.toggle-label::after {
  content: " 💬";
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
}

@media (prefers-color-scheme: dark) {
  .toggle-label {
    /*color: var(--sky-blue)*/
  }
}
.night .toggle-label {
  /*color: var(--sky-blue)*/
}

.toggle-label:hover {
  text-decoration: none;
}

/**
 * $CHECKBOX-FORM INPUT
 */
.toggle-checkbox {
  display: none;
}

.toggle-checkbox:checked {
  display: block;
  opacity: 0;
  width: calc(100vw + 140px);
  height: calc(100vh + 50px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* inset: 0; */
  z-index: 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
/* If not using finger */
@media not (pointer: coarse) {
  .toggle-checkbox:checked {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}

/**
 * $CHECKBOX-FORM FORM
 */
.form {
  width: 100%;
  height: 75vh;
  overflow: visible;
  position: fixed;
  bottom: 0;
  right:  0;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  /* transitional properties */
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  transform: translateY(100vh);
  transform-origin: bottom center;
  transition: var(--pop-transition);
  will-change: transform;
}

/* when checked */
.toggle-checkbox:checked ~ .form {
  pointer-events: auto;
  /* transitional properties */
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  transform: translateY(0) scale(1);
}

/* with no motion */
@media screen and (prefers-reduced-motion: reduce) {
  .form {
    transition: none !important;
  }
}
.no-motion .form {
  transition: none !important;
}

/* support safe zones */
@supports (padding: max(0px)) {
  .form {
    height: max(
      75vh,
      calc(env(safe-area-inset-bottom) + env(safe-area-inset-top))
    );
  }
}

/* on larger viewports */
@media (min-width: 400px) {
  .form {
    width: 15em;
    height: 13.3125em;
    position: absolute;
    top: 3.25em;
    bottom: auto;
    right: 1.5em;
    transform-origin: top right;
    transform: translateY(-10px) scale(0.75);
    transition: var(--slide-up-transition);
  }
}

.form:focus {
  outline: none;
}

/**
 * $CHECKBOX-FORM FORM BACKGROUND
 */
.form::before {
  content: "";
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  /*inset: 0;*/
  height: 100%;
  width:  100%;
  background: var(--white);
  box-shadow: var(--panel-shadows);
}

@media (min-width: 400px) {
  .form::before {
    border-radius: 0.4375em;
  }
}

@media (prefers-color-scheme: dark) {
  .form::before {
    background: var(--oil);
    box-shadow: var(--panel-shadows);
  }
}

.night .form::before {
  background: var(--oil);
  box-shadow: var(--panel-shadows);
}

/* Form Vibrancy
@supports (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
  .form::before {
    background: var(--off-white-82);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
  }
}

@supports (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
  @media (prefers-color-scheme: dark) {
    .form::before {
      background: var(--coal-82);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
    }
  }
  .night .form::before {
    background: var(--coal-82);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
  }
}*/

/* Form Tooth */
.form::after {
  content: "";
  width:  32px;
  height: 14px;
  position: absolute;
  top: -13px;
  z-index: 2;
  pointer-events: none;
}
@media (min-width: 400px) {
  .form::after {
    background-image: url("../img/ui/tooth.svg");
    background-repeat: no-repeat;
    background-size: cover;
    right: 0.75rem;
  }
  /*@supports (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
    .form::after {
      background-image: url("../img/ui/translucent-tooth.svg");
    }
  }*/
  @media (prefers-color-scheme: dark) {
    .form::after {
      background-image: url("../img/ui/dark-tooth.svg");
    }
  }
  /*@supports (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
    @media (prefers-color-scheme: dark) {
      .form::after {
        background-image: url("../img/ui/translucent-dark-tooth.svg");
      }
    }
  }*/
  .night .form::after {
    background-image: url("../img/ui/dark-tooth.svg");
  }
  /*@supports (-webkit-backdrop-filter: saturate(180%) blur(20px)) {
    .night .form::after {
      background-image: url("../img/ui/translucent-dark-tooth.svg");
    }
  }*/
}

/**
 * $CHECKBOX-FORM GROUP
 */
.formgroup {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * $CHECKBOX-FORM FIELDS
 */
.formfield {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 16px;
  padding: 10px 0 11px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: var(--dark-grey);
  border: 0 solid var(--graphite-30);
  border-bottom-width: 1px;
}
@media (min-width: 400px) {
  .formfield {
    margin-left: 25px;
    padding: var(--tiny-spacing) 0 5px;
    font-size: 13px;
    line-height: 16px;
    height: 33px;
  }
}
@media (prefers-color-scheme: dark) {
  .formfield {
    color: var(--light-grey);
    border-color: var(--graphite-30);
  }
}
.night .formfield {
  color: var(--light-grey);
  border-color: var(--graphite-30);
}

.formfield:focus-within {
  border-color: var(--dark-grey);
}
@media (prefers-color-scheme: dark) {
  .formfield:focus-within {
    border-color: var(--light-grey);
  }
}
.night .formfield:focus-within {
  border-color: var(--light-grey);
}

.formfield--full {
  height: calc(100% - 148px);
  flex-direction: column;
  align-items: flex-end;
  padding: 13px 0 16px;
  border-bottom-width: 0;
}
@supports (padding: max(0px)) {
  .formfield--full {
    height: max(calc(100% - 148px), env(safe-area-inset-bottom));
    padding-bottom: max(16px, env(safe-area-inset-bottom));
  }
}
@media (min-width: 400px) {
  .formfield--full {
    height: calc(100% - 99px);
    padding: 8px 0 41px;
  }
  @supports (padding: max(0px)) {
    .formfield--full {
      height: max(calc(100% - 99px), env(safe-area-inset-bottom));
      padding-bottom: max(41px, env(safe-area-inset-bottom));
    }
  }
}

/**
 * $CHECKBOX-FORM SHARED
 */
.form input,
.form textarea {
  margin: 0;
  padding: 0;
  appearance: none;
  background: transparent;
  border: none;
  color: var(--coal);
  outline: none;
}
@media (prefers-color-scheme: dark) {
  .form input,
  .form textarea {
    color: var(--light-grey);
  }
}
.night .form input,
.night .form textarea {
  color: var(--light-grey);
}

/* remove styling from Firefox */
.formfield input:invalid,
.formfield textarea:invalid {
  box-shadow: none;
}
/* Only show invalid styles when placeholder is not shown */
.formfield input:invalid:not(:placeholder-shown),
.formfield textarea:invalid:not(:placeholder-shown) {
  color: var(--error);
}

/**
 * $CHECKBOX-FORM LABELS
 */
.formfield .label {
  flex-basis: auto;
  align-self: center;
}
@media (min-width: 400px) {
  .formfield .label {
    height: 21px;
    line-height: 21px;
  }
}

/**
 * $CHECKBOX-FORM INPUTS
 */
.formfield input {
  flex-shrink: 1;
  flex-grow: 2;
  margin-left: 4px;
  padding-right: var(--small-spacing);
  background-color: none;
}
@media (min-width: 400px) {
  .formfield input {
    margin-left: 5px;
    padding-right: 8px;
    line-height: 21px;
    height: 21px;
  }
}

/**
 * $CHECKBOX-FORM TEXTAREA
 */
.formfield textarea {
  width: 100%;
  flex: 1 1 auto;
  margin-bottom: 16px;
  padding-right: 16px;
  border: none;
  resize: none;
}
@media (min-width: 400px) {
  .formfield textarea {
    margin-top: 0;
    margin-bottom: 8px;
    padding-right: var(--small-spacing);
    font-size: 14px;
    min-height: 91px;
  }
}

/**
 * $CHECKBOX-FORM RECIEVER
 */
.reciever {
  align-self: flex-start;
  margin-right: auto;
  margin-left: 4px;
  color: var(--azure-blue);
  border-radius: 3px;
}
@media (prefers-color-scheme: dark) {
  .reciever {
    color: var(--sky-blue);
  }
}
@media (min-width: 400px) {
  .reciever {
    margin-top: 2px;
    margin-left: 0.4375em;
    padding: 0.0625rem 0.25rem 0.125rem;
    background: var(--azure-blue-30);
    color: var(--coal);
  }

  @media (prefers-color-scheme: dark) {
    .reciever {
      background: var(--sky-blue-30);
      color: var(--sky-blue);
    }
  }
}
.night .reciever {
  color: var(--sky-blue);
}
@media (min-width: 400px) {
  .night .reciever {
    background: var(--sky-blue-30);
    color: var(--sky-blue);
  }
}

/**
 * $CHECKBOX-FORM BUTTON
 */
.submit {
  width: calc(100% - 16px);
  height: 44px;
  margin: 0 16px;
  padding: var(--small-spacing) 0;
  appearance: none;
  cursor: pointer;
  background: var(--azure-blue-30);
  border: none;
  border-radius: 12px;
}
@media (prefers-color-scheme: dark) {
  .submit {
    background: var(--sky-blue-30);
  }
}
.night .submit {
  background: var(--sky-blue-30);
}
@media (min-width: 400px) {
  .submit {
    width: auto;
    height: auto;
    margin: 0 8px 8px;
    padding: 5px 11px 4px 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
    border: 1px solid var(--azure-blue);
    border-radius: 5px;
  }
  @media (prefers-color-scheme: dark) {
    .submit {
      border-color: var(--sky-blue);
    }
  }
}
@media (min-width: 400px) {
  .night .submit {
    border-color: var(--sky-blue);
  }
}

.form:invalid .submit {
  cursor: not-allowed;
  background: var(--graphite-30);
}
@media (min-width: 400px) {
  .form:invalid .submit {
    background: transparent;
    border-color: var(--azure-blue-30);
  }
  @media (prefers-color-scheme: dark) {
    .form:invalid .submit {
      border-color: var(--sky-blue-30);
    }
  }
  .night .form:invalid .submit {
    background: transparent;
    border-color: var(--sky-blue-30);
  }
}

/**
 * $CHECKBOX-FORM BUTTON ICON
 */
.submit__icon {
  display: none;
  fill: var(--azure-blue);
}
@media (prefers-color-scheme: dark) {
  .submit__icon {
    fill: var(--sky-blue);
  }
}
.night .submit__icon {
  fill: var(--sky-blue);
}
@media (min-width: 400px) {
  .submit__icon {
    display: block;
  }
}

.form:invalid .submit__icon {
  fill: var(--azure-blue-30);
}
@media (prefers-color-scheme: dark) {
  .form:invalid .submit__icon {
    fill: var(--sky-blue-30);
  }
}
.night .form:invalid .submit__icon {
  fill: var(--sky-blue-30);
}

/**
 * $CHECKBOX-FORM BUTTON LABEL
 */
.submit__label {
  display: block;
  line-height: 1;
  color: var(--azure-blue);
}
@media (prefers-color-scheme: dark) {
  .submit__label {
    color: var(--sky-blue);
  }
}
.night .submit__label {
  color: var(--sky-blue);
}
@media (min-width: 400px) {
  .submit__label {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}
.form:invalid .submit__label {
  color: var(--graphite);
}

/**
 * $CHECKBOX-FORM STATUS
 */
.status {
  padding: 0.75em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  font-size: 0.75rem;
  line-height: 1.25;
  color: var(--dark-grey);
  text-align: center;
  background: var(--white);
  border-radius: 0.4375em;
}
@media (prefers-color-scheme: dark) {
  .status {
    color: var(--light-grey);
    background: var(--coal);
  }
}
.night .status {
  color: var(--light-grey);
  background: var(--coal);
}
.status__img {
  display: block;
  width: 4.833em;
  height: 4.833em;
  margin-top: 3.58em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
}
.status__title {
  display: block;
  font-size: 1.416em;
  margin-bottom: 0.5em;
}

/**
 * $EMOJI-CURSORS
 */
.emoji-cursor-hi {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👋</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-house {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>🏡</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-union-jack {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>🇬🇧</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-man-technologist {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👨‍💻</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-spanner {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>🔧</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-credit-card {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>💳</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-pointing-up {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👆</text></svg>")
      16 0,
    auto !important;
}
.emoji-cursor-eyes {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👀</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-work {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>💻📱</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-pointing-down {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>👇</text></svg>")
      16 0,
    auto;
}
.emoji-cursor-cup {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;text-shadow:0 2px 2px rgba(0,0,0,0.35);'><text y='50%'>🏆</text></svg>")
      16 0,
    auto;
}



