/**
 * _components.ratios.scss
 */
.ratio {
  height: 0;
  position: relative;

  > object,
  > embed,
  > .mov,
  > .img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  > .img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    @include vendor(user-select, none);
    pointer-events: none;
  }
}

.ratio--square { padding-bottom: 100%; }
