/**
 * _components.gallery.scss
 */
.gallery {
  margin-bottom: $base-spacing-unit;
  @extend .cf;
  
  & > img {
    display: block;
    float: left;
    padding-right: 0.125em;
    margin-bottom: 0.125em;
  }
}
  
.gallery--two-up > img                     { width: 50%; }

.gallery--three-up > img:first-of-type     { width: 100%; }
.gallery--three-up > img                   { width: 50%; }

.gallery--four-up > img:first-of-type      { width: 100%; }
.gallery--four-up > img                    { width: 33.333%; }

.gallery--five-up > img:nth-of-type(-n+2)  { width: 50%; }  
.gallery--five-up > img                    { width: 33.333%; }

.gallery--six-up > img:nth-of-type(1)      { width: 100%; }
.gallery--six-up > img:nth-of-type(1n+2)   { width: 50%; }
.gallery--six-up > img:nth-of-type(n+4)    { width: 33.3333%; }

.gallery--seven-up > img:nth-of-type(1)    { width: 100%; }
.gallery--seven-up > img                   { width: 33.333%; }

.gallery--eight-up > img:nth-of-type(1)    { width: 100%; }
.gallery--eight-up > img:nth-of-type(1n+2) { width: 50%; }
.gallery--eight-up > img:nth-of-type(n+6)  { width: 33.3333%; }
