/**
 * _components.animation.scss
 */
.load-effect {
  @include vendor(perspective, 1300px);
}
.load-effect > li {
  @include vendor(transform-style, preserve-3d);
}
.load-effect > .animate {
  @include vendor(transform, translateZ(400px) translateY(300px) rotateX(-90deg));
  @include vendor(animation, fallPerspective .8s ease-in-out forwards);
}

.animation--up {
  @include vendor(animation, animation--up 3s 0.3s infinite);
}
@-webkit-keyframes animation--up {
  40% { -webkit-transform: translate3d(0, 100%, 0) scale(0.9) rotateX(20deg); opacity: 0; }
  45% { -webkit-transform: translate3d(0, 0, 0) scale (1) rotateX(0); }
  50% { -webkit-transform: translate3d(0, -100%, 0) scale(0.9) rotateX(-20deg); opacity: 0; }
  70% { -webkit-transform: translate3d(0, 0, 0) scale(1) rotateX(0); opacity: 1; }
}
@keyframes animation--up {
  40% { transform: translate3d(0, 100%, 0) scale(0.9) rotateX(20deg); opacity: 0; }
  45% { transform: translate3d(0, 0, 0) scale (1) rotateX(0); }
  50% { transform: translate3d(0, -100%, 0) scale(0.9) rotateX(-20deg); opacity: 0; }
  70% { transform: translate3d(0, 0, 0) scale(1) rotateX(0); opacity: 1; }
}

.bounce-and-shake {
  @include vendor(animation, bounce-and-shake 300ms ease-out);
}
@-webkit-keyframes bounce-and-shake {
  15%, 40%, 75%, 100% {-webkit-transform-origin: center center}
  15% {-webkit-transform: scale(1.4, 1.2)}
  40% {-webkit-transform: scale(0.9, 0.9)}
  75% {-webkit-transform: scale(1.08, 1)}
  100% {-webkit-transform: scale(1, 1)}
}
@keyframes bounce-and-shake {
  15%, 40%, 75%, 100% {transform-origin: center center}
  15% {transform: scale(1.4, 1.2)}
  40% {transform: scale(0.9, 0.9)}
  75% {transform: scale(1.08, 1)}
  100% {transform: scale(1, 1)}
}

.bounce-up {
  @include vendor(animation, bounce-up 400ms 1 ease-out);
}
@-webkit-keyframes bounce-up {
  20% {-webkit-transform: translate3d(0,-45%,0)}
  50% {-webkit-transform: translate3d(0,0,0)}
  65% {-webkit-transform: translate3d(0,-25%,0)}
}
@keyframes bounce-up {
  20% {transform: translate3d(0,-45%,0)}
  50% {transform: translate3d(0,0,0)}
  65% {transform: translate3d(0,-25%,0)}
}

.slide-down {
  @include vendor(animation, slide-down 300ms 1 ease-out);
  @include vendor(animation-fill-mode, both);
}
@-webkit-keyframes slide-down {
  0%   { -webkit-transform: translateY(-100%) }
  100% { -webkit-transform: translateY(0) }
}
@keyframes slide-down {
  0%   { -webkit-transform: translateY(-100%) }
  100% { -webkit-transform: translateY(0) }
}

.slide-up {
  @include vendor(animation, slide-up 300ms 1 ease-out);
  @include vendor(animation-fill-mode, both);
}
@-webkit-keyframes slide-up {
  0%   { -webkit-transform: translateY(0) }
  100% { -webkit-transform: translateY(-100%) }
}
@keyframes slide-up {
  0%   { -webkit-transform: translateY(0) }
  100% { -webkit-transform: translateY(-100%) }
}