/**
 * _components.image-grid.scss
 */
.gallery {
  margin-bottom: $base-spacing-unit;
  @extend .cf;
  
  & > img {
    display: block;
    float: left;
    padding-right: 0.125em; // 2px
    margin-bottom: 0.125em; // 2px
  }

  &--two-up > img                     { width: 50%; }

  &--three-up > img                   { width: 33.333%; }
  
  &--four-up > img:first-of-type      { width: 100%; }
  &--four-up > img                    { width: 33.333%; }
  
  &--five-up > img:nth-of-type(-n+2)  { width: 50%; }  
  &--five-up > img                    { width: 33.333%; }
  
  &--six-up > img:nth-of-type(1)      { width: 100%; }
  &--six-up > img:nth-of-type(1n+2)   { width: 50%; }
  &--six-up > img:nth-of-type(n+4)    { width: 33.3333%; }
  
  &--seven-up > img:nth-of-type(1)    { width: 100%; }
  &--seven-up > img                   { width: 33.333%; }
  
  &--eight-up > img:nth-of-type(1)    { width: 100%; }
  &--eight-up > img:nth-of-type(1n+2) { width: 50%; }
  &--eight-up > img:nth-of-type(n+6)  { width: 33.3333%; }
}