/**
 * _components.screenshots.scss
 */
.screenshot {
  overflow: hidden;
  padding: $base-spacing-unit $base-spacing-unit 0;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  &.gallery > img,
  > img {
    margin-bottom: $base-spacing-unit;
  }
  
  > img {
    background-clip: padding-box;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
  }
  > figcaption {
    padding-right: 0;
    padding-left:  0;
    margin-bottom: $base-spacing-unit;
    color: #8C887B;
  }
}