<!DOCTYPE html>
{% include _tools.conditional.html %}
<head>
  {% include _head.meta.html %}
  {% include _head.styles.html %}
  {% include _head.type.html %}
  {% include _head.favicon.html %}
  {% include _head.ios.html %}
  {% include _head.rss.html %}
</head>
<body>
  {% include _tools.skip-links.html %}
  {% include _tools.svg-symbols.html %}
  {% include _structure.page-header.html %}
  <main class="page-content" role="main" id="main">
    <div class="wrapper">
      {% comment %} if there is no subtitle, do not render {% endcomment %}
      {% if page.subtitle != null %}
      <h3 class="heading  page-subtitle  no-spacing  t--center">{{ page.subtitle }}</h3>
      {% endif %}
      {% comment %} if there is no title, do not render {% endcomment %}
      {% if page.title != null %}
      <h2 class="heading  alpha  page-title">{{ page.title }}</h2>
      {% endif %}
      {{ content }}
    </div>
  </main>
  {% include _structure.page-footer.html %}
  {% include _tools.scripts.html %}
</body>
</html>
