<!DOCTYPE html>
{% include _tools.conditional.html %}
<head>
  {% include _head.meta.html %}
  {% include _head.styles.html %}
  {% include _head.type.html %}
  {% include _head.favicon.html %}
  {% include _head.ios.html %}
</head>
<body id="js-top-of-page">
  {% include _tools.skip-links.html %}
  {% include _tools.svg-symbols.html %}
  {% include _structure.page-header.html %}
  <main class="page-content" role="main" id="main">
    <div class="wrapper">
      {% comment %} if there is no subtitle, do not render {% endcomment %}
      {% if page.subtitle != null %}
      <h3 class="heading  page-subtitle  no-spacing  t--center">{{ page.subtitle }} <a href="#{{ page.subtitle | slugify }}" class="subtitle-link" title="Permalink to this headline">¶</a></h3>
      {% endif %}
      {% comment %} if there is no title, do not render {% endcomment %}
      {% if page.title != null %}
      <h2 class="heading  page-title  t--center">{{ page.title }} <a href="#{{ page.title | slugify }}" class="subtitle-link" title="Permalink to this headline">¶</a></h2>
      {% endif %}
      {{ content }}
    </div>
  </main>
  {% include _structure.page-footer.html %}
  {% include _tools.scripts.html %}
</body>
</html>
