<!DOCTYPE html>
{% include _tools.conditional.html %}
<head>
  {% include _head.meta.html %}
  {% include _head.styles.html %}
  {% include _head.type.html %}
  {% include _head.favicon.html %}
  {% include _head.ios.html %}
</head>
<body id="js-top-of-page">
  {% include _tools.skip-links.html %}
  {% include _tools.svg-symbols.html %}
  {% include _structure.page-header.html %}
  <main class="page-content" role="main" id="main">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {% include _structure.page-footer.html %}
  {% include _tools.scripts.html %}
</body>
</html>
