/**
 * _theme.nav-menu.scss
 */
.nav-menu {
  float: right;
  margin-bottom: 0;

  & > li + li {
    margin-left: $half-spacing-unit;
  }
}
  .nav-menu__link {
    font-weight: bold;
    font-size: 0.75em;
    line-height: 55px;
    font-family: $small-heading-font-family;
    text-transform: uppercase;
    letter-spacing: 0.1em
  }
