/**
 * _theme.page-breadcrumb
 */
.page-breadcrumb {
  display: inline-block;
  font-variant: small-caps;
  font-weight: bold;
  font-family: $small-heading-font-family;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}