/**
 * _theme.nav-menu.scss
 */
.nav-menu {
  float: right;
  margin-bottom: 0;
  position: relative;

  & > li + li {
    margin-left: $half-spacing-unit;
  }

  & a:visited {
    color: $swatch-four;
  }
}
  .nav-menu__link {
    font-size: 0.8125rem;
    line-height: 3.4375;
    font-family: $small-heading-font-family;
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
       -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
            font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    -webkit-user-select: none;
            user-select: none;

    &--active {
      font-weight: 500;
      color: lighten($swatch-two, 10%);
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }
