/**
 * _theme.checkbox-form
 */
input,
textarea {
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  color: #292929;
  outline: none;
}
textarea {
  width: 100%;
  height: 4rem;
  margin-bottom: 1.75rem;
  border: none;
  resize: none;
}

.toggle-label {
  color: $swatch-four;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.toggle-checkbox {
  display: none;
//  position: absolute;
//  top: 100%;
//  left: 100%;
}
.toggle-checkbox:checked ~ .form {
  pointer-events: auto;
  /* transitional properties */
  opacity: 1;
  transform: translateY(0) scale(1);
}

.form {
  width: 100vw;
  height: 13.3125em;
  overflow: visible;
  position: absolute;
  top: 2.75rem;
  right: -$base-spacing-unit;
  z-index: 100;
  user-select: none;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0;
  transform-origin: top right;
  transform: translateY(-10px) scale(0.75);
  transition: .2s cubic-bezier(0.175, .885, .32, 1.275);
  @media (min-width: 400px) {
    width: 15em;
    right: 0;
  }

  &:focus {
    outline: none
  }

  &::before {
    content: '';
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    height: 100%;
    width: 100%;
    border-radius: 0.4375em;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0,0,0,0.24),
                0 0 0 1px rgba(0,0,0,0.12);
  }
  &::after {
    content: '';
    width: 1.875em;
    height: 0.75em;
    position: absolute;
    bottom: 100%;
    //left:   50%;
    right: 2rem;
    z-index: 2;
    background-image: url('../img/ui/tooth.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    pointer-events: none;
    //transform: translateX(-50%);
    @media (min-width: 400px) {
      right: 0.75rem;
    }
  }
}

.formgroup {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  z-index: 1;
  cursor: default;
  user-select: none;
}
  .formfield {
      display: list-item;
      margin-left: 1.769em;
      padding: 0.461em 0;
      border-bottom: 1px solid #e9e9e9;
      font-weight: 300;
      font-size: 0.8125em;
      text-align: left;
      color: #8A8A8A;
    }
    .formfield:nth-child(3),
    .formfield--full {
      border-bottom: none;
    }
    .formfield--full {
      position: relative;
      margin-left: 0;
      padding-left: 1.769em;
      border-top: 1px solid #e9e9e9;
    }
    .reciever {
      background: #d5e7fa;
      color: #333;
      padding: 0 6px;
      border-radius: 3px;
    }
    .submit {
      margin: 0 0.5em 0.5em;
      padding: 0.25em 0.75em;
      position: absolute;
      right:  0;
      bottom: 0;
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid $swatch-four;
      border-radius: 2.5em;
    }
    .submit__icon {
      display: block;
      fill: $swatch-four;
    }

    // overlay some content and centre content
    .status {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      font-size: 0.75rem;
      color: $swatch-three;
      text-align: center;
      background-color: #fff;
      border-radius: 0.4375em;

      &__img {
        display: block;
        width: 4.833em;
        height: 4.833em;
        margin-top: 3.58em;
        margin-right: auto;
        margin-left:  auto;
      }

      &__title,
      &__body {
        display: block;
        margin-left:  1rem;
        margin-right: 1rem;
      }

      &__title {
        font-size: 1.416em;
      }

      //&:empty {
      //  width: 0;
      //  height: 0;
      //  position: static;
      //}
    }
