/**
 * _theme.page-logo.scss
 */
.page-logo {
  display: inline-block;
  width: 69px;
  height: 31px;
  overflow: hidden;
  margin-top: $half-spacing-unit;
  position: relative;

  &__img {
    display: block;
    pointer-events: none;
    user-select: none;
  }
}
