/**
 * _theme.hero-list.scss
 */
.hero-list {
  @extend .cf;

  > .hero {
    width: 100%;
    margin-bottom: $half-spacing-unit;

    @include breakpoint(bp-one) {
      width: 50%;
    }
    @include breakpoint(bp-two) {
      width: 33.3333%;
    }
    @include breakpoint(bp-four) {
      width: 25%;
    }
    @include breakpoint(bp-five) {
      width: 66.6666%;
    }

    // &:first-of-type,
    // &:last-of-type {
    //   width: 100%;
    // }
  }
}