/**
 * _theme.page-subtitle.scss
 */
.fonts-loaded .page-subtitle {
  font-family: "Neue Haas Unica", $small-heading-font-family;
}
.page-subtitle {
  font-variant: small-caps;
  font-weight: 400;
  font-size: $base-font-size;
  font-family: $small-heading-font-family;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  color: lighten($swatch-two, 50%);
}
