/**
 * _theme.posts
 */
.post-list {
  padding-left: $base-spacing-unit;
  border-left: 1px dashed #dededc;
}

.post {
  position: relative;
  margin-bottom: $base-spacing-unit * 2;

  &:last-child {
    margin-bottom: 0;
  }

  .post__link {
    display: block;
    text-decoration: none;

    &,
    &:hover {
      background-image: none;
    }

    &:after {
      content: "";
      box-sizing: content-box;
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 50%;
      left: -($base-spacing-unit + 10px);
      background-color: #ff8226;
      border: 6px solid #ffd4c0;
      border-radius: 50%;
      @include vendor(transition, all 0.3s ease-out);
    }
    &:hover:after {
      background-color: #1db09d;
      border-color:#b1d8d2;
      @include vendor(transform, scale(1.2));
      @include vendor(transform-origin, center);
      @include vendor(transition, all 0.3s ease-out);
    }
  }
}