/**
 * _theme.footer-links.scss
 */
.footer-links {

  &__link {
    fill: $swatch-four;
    transform: translateY(0) scale(1);
    transition: .2s cubic-bezier(0.175, .885, .32, 1.275);

    &:hover {
      transform: translateY(0.12) scale(1.25);
    }

    &:visited {
      fill: #9FAAB8;
    }
  }
}

.top-page-link {

  &:hover {
    @extend .slide-up;
  }
}
