/**
 * _theme.structure.scss
 */
.wrapper {
  max-width: 63em; // + ($base-spacing-unit * 2)
  margin-right: auto;
  margin-left:  auto;
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;
  position: relative;
  @extend .cf;
}